<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="app-emolumento-heading"
        data-cy="EmolumentoCreateUpdateHeading"
        appTranslate="longonkeloApp.emolumento.home.createOrEditLabel"
      >
        Criar ou editar Emolumento
      </h2>

      <div>
        <app-alert-error></app-alert-error>

        <div class="mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" appTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="mb-3">
          <label class="form-label" appTranslate="longonkeloApp.emolumento.imagem" for="field_imagem">Imagem</label>
          <div>
            <img
              [src]="'data:' + editForm.get('imagemContentType')!.value + ';base64,' + editForm.get('imagem')!.value"
              style="max-height: 100px"
              *ngIf="editForm.get('imagem')!.value"
              alt="emolumento image"
            />
            <div *ngIf="editForm.get('imagem')!.value" class="form-text text-danger clearfix">
              <span class="pull-start">{{ editForm.get('imagemContentType')!.value }}, {{ byteSize(editForm.get('imagem')!.value!) }}</span>
              <button
                type="button"
                (click)="clearInputImage('imagem', 'imagemContentType', 'file_imagem')"
                class="btn btn-secondary btn-xs pull-end"
              >
                <fa-icon icon="times"></fa-icon>
              </button>
            </div>
            <input
              type="file"
              id="file_imagem"
              data-cy="imagem"
              (change)="setFileData($event, 'imagem', true)"
              accept="image/*"
              appTranslate="entity.action.addimage"
            />
          </div>
          <input type="hidden" class="form-control" name="imagem" id="field_imagem" data-cy="imagem" formControlName="imagem" />
          <input
            type="hidden"
            class="form-control"
            name="imagemContentType"
            id="field_imagemContentType"
            formControlName="imagemContentType"
          />
        </div>

        <div class="row">
          <div class="col-md-4 col-sm-12 mb-3">
            <label class="form-label" appTranslate="longonkeloApp.emolumento.categoria" for="field_categoria">Categoria</label>
            <ng-select
              id="field_categoria"
              data-cy="categoria"
              name="categoria"
              formControlName="categoria"
              [compareWith]="compareCategoriaEmolumento"
            >
              <ng-option *ngIf="editForm.get(['categoria'])!.value == null" [value]="null" selected></ng-option>
              <ng-option [value]="categoriaEmolumentoOption" *ngFor="let categoriaEmolumentoOption of categoriaEmolumentosSharedCollection">
                {{ categoriaEmolumentoOption.nome }}
              </ng-option>
            </ng-select>
            <div
              *ngIf="editForm.get(['categoria'])!.invalid && (editForm.get(['categoria'])!.dirty || editForm.get(['categoria'])!.touched)"
            >
              <small
                class="form-text text-danger"
                *ngIf="editForm.get(['categoria'])?.errors?.required"
                appTranslate="entity.validation.required"
              >
                O campo é obrigatório.
              </small>
            </div>
          </div>

          <div class="col-md-3 col-sm-12 mb-3">
            <label class="form-label" appTranslate="longonkeloApp.emolumento.numero" for="field_numero">Numero</label>
            <input type="text" class="form-control" name="numero" id="field_numero" data-cy="numero" formControlName="numero" />
            <div *ngIf="editForm.get('numero')!.invalid && (editForm.get('numero')!.dirty || editForm.get('numero')!.touched)">
              <small
                class="form-text text-danger"
                *ngIf="editForm.get('numero')?.errors?.required"
                appTranslate="entity.validation.required"
              >
                O campo é obrigatório.
              </small>
            </div>
          </div>
          <div class="col-md-5 col-sm-12 mb-3">
            <label class="form-label" appTranslate="longonkeloApp.emolumento.nome" for="field_nome">Nome</label>
            <input type="text" class="form-control" name="nome" id="field_nome" data-cy="nome" formControlName="nome" />
            <div *ngIf="editForm.get('nome')!.invalid && (editForm.get('nome')!.dirty || editForm.get('nome')!.touched)">
              <small class="form-text text-danger" *ngIf="editForm.get('nome')?.errors?.required" appTranslate="entity.validation.required">
                O campo é obrigatório.
              </small>
            </div>
          </div>
          <!--
          <div class="col-md-3 col-sm-12 mb-3">
            <label class="form-label" appTranslate="longonkeloApp.emolumento.mes" for="field_mes">Mes</label>
            <input type="text" class="form-control" name="mes" id="field_mes" data-cy="mes" formControlName="mes" />
          </div> -->
        </div>

        <div class="row">
          <div class="col-md-3 col-sm-12 mb-3">
            <label class="form-label" appTranslate="longonkeloApp.emolumento.quantidade" for="field_quantidade">Quantidade</label>
            <input
              type="number"
              class="form-control"
              name="quantidade"
              id="field_quantidade"
              data-cy="quantidade"
              formControlName="quantidade"
            />
            <div *ngIf="editForm.get('quantidade')!.invalid && (editForm.get('quantidade')!.dirty || editForm.get('quantidade')!.touched)">
              <small
                class="form-text text-danger"
                *ngIf="editForm.get('quantidade')?.errors?.required"
                appTranslate="entity.validation.required"
              >
                O campo é obrigatório.
              </small>
              <small
                class="form-text text-danger"
                *ngIf="editForm.get('quantidade')?.errors?.min"
                appTranslate="entity.validation.min"
                [translateValues]="{ min: 0 }"
              >
                Este campo deve ser maior que 0.
              </small>
              <small
                class="form-text text-danger"
                [hidden]="!editForm.get('quantidade')?.errors?.number"
                appTranslate="entity.validation.number"
              >
                Este campo é do tipo número.
              </small>
            </div>
          </div>

          <div class="col-md-3 col-sm-12 mb-3">
            <label class="form-label" appTranslate="longonkeloApp.emolumento.preco" for="field_preco">Preco</label>
            <input type="number" class="form-control" name="preco" id="field_preco" data-cy="preco" formControlName="preco" />
            <div *ngIf="editForm.get('preco')!.invalid && (editForm.get('preco')!.dirty || editForm.get('preco')!.touched)">
              <small
                class="form-text text-danger"
                *ngIf="editForm.get('preco')?.errors?.required"
                appTranslate="entity.validation.required"
              >
                O campo é obrigatório.
              </small>
              <small
                class="form-text text-danger"
                *ngIf="editForm.get('preco')?.errors?.min"
                appTranslate="entity.validation.min"
                [translateValues]="{ min: 0 }"
              >
                Este campo deve ser maior que 0.
              </small>
              <small
                class="form-text text-danger"
                [hidden]="!editForm.get('preco')?.errors?.number"
                appTranslate="entity.validation.number"
              >
                Este campo é do tipo número.
              </small>
            </div>
          </div>
        </div>
        <!--
        <div class="mb-3">
          <input
            type="checkbox"
            class="form-check-input"
            name="isObrigatorio"
            id="field_isObrigatorio"
            data-cy="isObrigatorio"
            formControlName="isObrigatorio"
          />
          <span class="form-check-label" appTranslate="longonkeloApp.emolumento.isObrigatorio" for="field_isObrigatorio"
            >Is Obrigatorio</span
          >
        </div> -->

        <!-- <div class=" mb-3">
          <label class="form-label" appTranslate="longonkeloApp.emolumento.instituicao" for="field_instituicao">Instituicao</label>
          <select
            class="form-control"
            id="field_instituicao"
            data-cy="instituicao"
            name="instituicao"
            formControlName="instituicao"
            [compareWith]="compareInstituicaoEnsino"
          >
            <option [ngValue]="null"></option>
            <option [ngValue]="instituicaoEnsinoOption" *ngFor="let instituicaoEnsinoOption of instituicaoEnsinosSharedCollection">
              {{ instituicaoEnsinoOption.tenant }}
            </option>
          </select>
        </div> -->
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span appTranslate="entity.action.cancel">Cancelar</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span appTranslate="entity.action.save">Guardar</span>
        </button>
      </div>
    </form>
  </div>
</div>
