/* ==========================================================================
start Password strength bar style
========================================================================== */
ul#strength {
  display: inline;
  list-style: none;
  margin: 0;
  margin-left: 15px;
  padding: 0;
  vertical-align: 2px;
}

.point {
  background: #c0c0c0;
  border-radius: 6px;
  display: inline-block;
  height: 8px;
  margin-right: 4px;
  width: 24px;
  transition: all 0.3s ease;
  &:last-child {
    margin: 0 !important;
  }
}
