<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="estadoDissertacao">
      <h2 data-cy="estadoDissertacaoDetailsHeading">
        <span appTranslate="longonkeloApp.estadoDissertacao.detail.title">Estado Dissertacao</span>
      </h2>

      <hr />

      <app-alert-error></app-alert-error>

      <app-alert></app-alert>

      <dl class="row-md jh-entity-details">
        <dt><span appTranslate="global.field.id">Código</span></dt>
        <dd>
          <span>{{ estadoDissertacao.id }}</span>
        </dd>
        <dt><span appTranslate="longonkeloApp.estadoDissertacao.codigo">Codigo</span></dt>
        <dd>
          <span>{{ estadoDissertacao.codigo }}</span>
        </dd>
        <dt><span appTranslate="longonkeloApp.estadoDissertacao.nome">Nome</span></dt>
        <dd>
          <span>{{ estadoDissertacao.nome }}</span>
        </dd>
        <dt><span appTranslate="longonkeloApp.estadoDissertacao.etapa">Etapa</span></dt>
        <dd>
          <span>{{ estadoDissertacao.etapa }}</span>
        </dd>
        <dt><span appTranslate="longonkeloApp.estadoDissertacao.descricao">Descricao</span></dt>
        <dd>
          <span>{{ estadoDissertacao.descricao }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span appTranslate="entity.action.back">Voltar</span>
      </button>

      <button type="button" [routerLink]="['/estado-dissertacao', estadoDissertacao.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span appTranslate="entity.action.edit">Editar</span>
      </button>
    </div>
  </div>
</div>
