<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="notasPeriodicaDisciplina">
      <h2 data-cy="notasPeriodicaDisciplinaDetailsHeading">
        <span appTranslate="longonkeloApp.notasPeriodicaDisciplina.detail.title">Notas Periodica Disciplina</span>
      </h2>

      <hr />

      <app-alert-error></app-alert-error>

      <app-alert></app-alert>

      <dl class="row-md jh-entity-details">
        <dt><span appTranslate="global.field.id">Código</span></dt>
        <dd>
          <span>{{ notasPeriodicaDisciplina.id }}</span>
        </dd>
        <dt><span appTranslate="longonkeloApp.notasPeriodicaDisciplina.chaveComposta">Chave Composta</span></dt>
        <dd>
          <span>{{ notasPeriodicaDisciplina.chaveComposta }}</span>
        </dd>
        <dt><span appTranslate="longonkeloApp.notasPeriodicaDisciplina.periodoLancamento">Periodo Lancamento</span></dt>
        <dd>
          <span>{{ notasPeriodicaDisciplina.periodoLancamento }}</span>
        </dd>
        <dt><span appTranslate="longonkeloApp.notasPeriodicaDisciplina.nota1">Nota 1</span></dt>
        <dd>
          <span>{{ notasPeriodicaDisciplina.nota1 }}</span>
        </dd>
        <dt><span appTranslate="longonkeloApp.notasPeriodicaDisciplina.nota2">Nota 2</span></dt>
        <dd>
          <span>{{ notasPeriodicaDisciplina.nota2 }}</span>
        </dd>
        <dt><span appTranslate="longonkeloApp.notasPeriodicaDisciplina.nota3">Nota 3</span></dt>
        <dd>
          <span>{{ notasPeriodicaDisciplina.nota3 }}</span>
        </dd>
        <dt><span appTranslate="longonkeloApp.notasPeriodicaDisciplina.media">Media</span></dt>
        <dd>
          <span>{{ notasPeriodicaDisciplina.media }}</span>
        </dd>
        <dt><span appTranslate="longonkeloApp.notasPeriodicaDisciplina.faltaJusticada">Falta Justicada</span></dt>
        <dd>
          <span>{{ notasPeriodicaDisciplina.faltaJusticada }}</span>
        </dd>
        <dt><span appTranslate="longonkeloApp.notasPeriodicaDisciplina.faltaInjustificada">Falta Injustificada</span></dt>
        <dd>
          <span>{{ notasPeriodicaDisciplina.faltaInjustificada }}</span>
        </dd>
        <dt><span appTranslate="longonkeloApp.notasPeriodicaDisciplina.comportamento">Comportamento</span></dt>
        <dd>
          <span appTranslate="{{ 'longonkeloApp.Comporamento.' + notasPeriodicaDisciplina.comportamento }}">{{
            notasPeriodicaDisciplina.comportamento
          }}</span>
        </dd>
        <dt><span appTranslate="longonkeloApp.notasPeriodicaDisciplina.hash">Hash</span></dt>
        <dd>
          <span>{{ notasPeriodicaDisciplina.hash }}</span>
        </dd>
        <dt><span appTranslate="longonkeloApp.notasPeriodicaDisciplina.timestamp">Timestamp</span></dt>
        <dd>
          <span>{{ notasPeriodicaDisciplina.timestamp | formatMediumDatetime }}</span>
        </dd>
        <dt><span appTranslate="longonkeloApp.notasPeriodicaDisciplina.utilizador">Utilizador</span></dt>
        <dd>
          <span>{{ notasPeriodicaDisciplina.utilizador?.login }}</span>
        </dd>
        <dt><span appTranslate="longonkeloApp.notasPeriodicaDisciplina.turma">Turma</span></dt>
        <dd>
          <div *ngIf="notasPeriodicaDisciplina.turma">
            <a [routerLink]="['/turma', notasPeriodicaDisciplina.turma.id, 'view']">{{ notasPeriodicaDisciplina.turma.descricao }}</a>
          </div>
        </dd>
        <dt><span appTranslate="longonkeloApp.notasPeriodicaDisciplina.docente">Docente</span></dt>
        <dd>
          <div *ngIf="notasPeriodicaDisciplina.docente">
            <a [routerLink]="['/docente', notasPeriodicaDisciplina.docente.id, 'view']">{{ notasPeriodicaDisciplina.docente.nome }}</a>
          </div>
        </dd>
        <dt><span appTranslate="longonkeloApp.notasPeriodicaDisciplina.disciplinaCurricular">Disciplina Curricular</span></dt>
        <dd>
          <div *ngIf="notasPeriodicaDisciplina.disciplinaCurricular">
            <a [routerLink]="['/disciplina-curricular', notasPeriodicaDisciplina.disciplinaCurricular.id, 'view']">{{
              notasPeriodicaDisciplina.disciplinaCurricular.descricao
            }}</a>
          </div>
        </dd>
        <dt><span appTranslate="longonkeloApp.notasPeriodicaDisciplina.matricula">Matricula</span></dt>
        <dd>
          <div *ngIf="notasPeriodicaDisciplina.matricula">
            <a [routerLink]="['/matricula', notasPeriodicaDisciplina.matricula.id, 'view']">{{
              notasPeriodicaDisciplina.matricula.numeroMatricula
            }}</a>
          </div>
        </dd>
        <dt><span appTranslate="longonkeloApp.notasPeriodicaDisciplina.estado">Estado</span></dt>
        <dd>
          <div *ngIf="notasPeriodicaDisciplina.estado">
            <a [routerLink]="['/estado-disciplina-curricular', notasPeriodicaDisciplina.estado.id, 'view']">{{
              notasPeriodicaDisciplina.estado.descricao
            }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span appTranslate="entity.action.back">Voltar</span>
      </button>

      <button type="button" [routerLink]="['/notas-periodica-disciplina', notasPeriodicaDisciplina.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span appTranslate="entity.action.edit">Editar</span>
      </button>
    </div>
  </div>
</div>
