<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="app-lookup-heading" data-cy="LookupCreateUpdateHeading" appTranslate="longonkeloApp.lookup.home.createOrEditLabel">
        Criar ou editar Lookup
      </h2>

      <div>
        <app-alert-error></app-alert-error>

        <div class="row mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" appTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <div class="col-md-4 col-sm-12">
            <label class="form-label" appTranslate="longonkeloApp.lookup.codigo" for="field_codigo">Codigo</label>
            <input type="text" class="form-control" name="codigo" id="field_codigo" data-cy="codigo" formControlName="codigo" />
            <div *ngIf="editForm.get('codigo')!.invalid && (editForm.get('codigo')!.dirty || editForm.get('codigo')!.touched)">
              <small
                class="form-text text-danger"
                *ngIf="editForm.get('codigo')?.errors?.required"
                appTranslate="entity.validation.required"
              >
                O campo é obrigatório.
              </small>
            </div>
          </div>
          <div class="col-md-4 col-sm-12">
            <label class="form-label" appTranslate="longonkeloApp.lookup.nome" for="field_nome">Nome</label>
            <input type="text" class="form-control" name="nome" id="field_nome" data-cy="nome" formControlName="nome" />
            <div *ngIf="editForm.get('nome')!.invalid && (editForm.get('nome')!.dirty || editForm.get('nome')!.touched)">
              <small class="form-text text-danger" *ngIf="editForm.get('nome')?.errors?.required" appTranslate="entity.validation.required">
                O campo é obrigatório.
              </small>
            </div>
          </div>
        </div>

        <div class="col-md-6 col-sm-12 mb-3">
          <label class="form-label" appTranslate="longonkeloApp.lookup.descricao" for="field_descricao">Descricao</label>
          <textarea class="form-control" name="descricao" id="field_descricao" data-cy="descricao" formControlName="descricao"></textarea>
        </div>

        <div class="mb-3">
          <input
            type="checkbox"
            class="form-check-input"
            name="isSistema"
            id="field_isSistema"
            data-cy="isSistema"
            formControlName="isSistema"
          />
          <span class="form-check-label" appTranslate="longonkeloApp.lookup.isSistema" for="field_isSistema">Is Sistema</span>
        </div>

        <div class="mb-3">
          <input
            type="checkbox"
            class="form-check-input"
            name="isModificavel"
            id="field_isModificavel"
            data-cy="isModificavel"
            formControlName="isModificavel"
          />
          <span class="form-check-label" appTranslate="longonkeloApp.lookup.isModificavel" for="field_isModificavel">Is Modificavel</span>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span appTranslate="entity.action.cancel">Cancelar</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span appTranslate="entity.action.save">Guardar</span>
        </button>
      </div>
    </form>
  </div>
</div>
