<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="app-docente-heading" data-cy="DocenteCreateUpdateHeading" appTranslate="longonkeloApp.docente.home.createOrEditLabel">
        Criar ou editar Docente
      </h2>

      <div>
        <app-alert-error></app-alert-error>

        <div class="row mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" appTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" appTranslate="longonkeloApp.docente.fotografia" for="field_fotografia">Fotografia</label>
          <div>
            <img
              [src]="'data:' + editForm.get('fotografiaContentType')!.value + ';base64,' + editForm.get('fotografia')!.value"
              style="max-height: 100px"
              *ngIf="editForm.get('fotografia')!.value"
              alt="docente image"
            />
            <div *ngIf="editForm.get('fotografia')!.value" class="form-text text-danger clearfix">
              <span class="pull-start"
                >{{ editForm.get('fotografiaContentType')!.value }}, {{ byteSize(editForm.get('fotografia')!.value!) }}</span
              >
              <button
                type="button"
                (click)="clearInputImage('fotografia', 'fotografiaContentType', 'file_fotografia')"
                class="btn btn-secondary btn-xs pull-end"
              >
                <fa-icon icon="times"></fa-icon>
              </button>
            </div>
            <input
              type="file"
              id="file_fotografia"
              data-cy="fotografia"
              (change)="setFileData($event, 'fotografia', true)"
              accept="image/*"
              appTranslate="entity.action.addimage"
            />
          </div>
          <input
            type="hidden"
            class="form-control"
            name="fotografia"
            id="field_fotografia"
            data-cy="fotografia"
            formControlName="fotografia"
          />
          <input
            type="hidden"
            class="form-control"
            name="fotografiaContentType"
            id="field_fotografiaContentType"
            formControlName="fotografiaContentType"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" appTranslate="longonkeloApp.docente.nome" for="field_nome">Nome</label>
          <input type="text" class="form-control" name="nome" id="field_nome" data-cy="nome" formControlName="nome" />
          <div *ngIf="editForm.get('nome')!.invalid && (editForm.get('nome')!.dirty || editForm.get('nome')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('nome')?.errors?.required" appTranslate="entity.validation.required">
              O campo é obrigatório.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" appTranslate="longonkeloApp.docente.nascimento" for="field_nascimento">Nascimento</label>
          <div class="input-group">
            <input
              id="field_nascimento"
              data-cy="nascimento"
              type="text"
              class="form-control"
              name="nascimento"
              ngbDatepicker
              #nascimentoDp="ngbDatepicker"
              formControlName="nascimento"
            />
            <button type="button" class="btn btn-secondary" (click)="nascimentoDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
          </div>
          <div *ngIf="editForm.get('nascimento')!.invalid && (editForm.get('nascimento')!.dirty || editForm.get('nascimento')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('nascimento')?.errors?.required"
              appTranslate="entity.validation.required"
            >
              O campo é obrigatório.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" appTranslate="longonkeloApp.docente.nif" for="field_nif">Nif</label>
          <input type="text" class="form-control" name="nif" id="field_nif" data-cy="nif" formControlName="nif" />
          <div *ngIf="editForm.get('nif')!.invalid && (editForm.get('nif')!.dirty || editForm.get('nif')!.touched)"></div>
        </div>

        <div class="row mb-3">
          <label class="form-label" appTranslate="longonkeloApp.docente.inss" for="field_inss">Inss</label>
          <input type="text" class="form-control" name="inss" id="field_inss" data-cy="inss" formControlName="inss" />
          <div *ngIf="editForm.get('inss')!.invalid && (editForm.get('inss')!.dirty || editForm.get('inss')!.touched)"></div>
        </div>

        <div class="row mb-3">
          <label class="form-label" appTranslate="longonkeloApp.docente.sexo" for="field_sexo">Sexo</label>
          <select class="form-control" name="sexo" formControlName="sexo" id="field_sexo" data-cy="sexo">
            <option [ngValue]="null">{{ 'longonkeloApp.Sexo.null' | translate }}</option>
            <option *ngFor="let sexo of sexoValues" [value]="sexo">{{ 'longonkeloApp.Sexo.' + sexo | translate }}</option>
          </select>
          <div *ngIf="editForm.get('sexo')!.invalid && (editForm.get('sexo')!.dirty || editForm.get('sexo')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('sexo')?.errors?.required" appTranslate="entity.validation.required">
              O campo é obrigatório.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" appTranslate="longonkeloApp.docente.pai" for="field_pai">Pai</label>
          <input type="text" class="form-control" name="pai" id="field_pai" data-cy="pai" formControlName="pai" />
          <div *ngIf="editForm.get('pai')!.invalid && (editForm.get('pai')!.dirty || editForm.get('pai')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('pai')?.errors?.required" appTranslate="entity.validation.required">
              O campo é obrigatório.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" appTranslate="longonkeloApp.docente.mae" for="field_mae">Mae</label>
          <input type="text" class="form-control" name="mae" id="field_mae" data-cy="mae" formControlName="mae" />
          <div *ngIf="editForm.get('mae')!.invalid && (editForm.get('mae')!.dirty || editForm.get('mae')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('mae')?.errors?.required" appTranslate="entity.validation.required">
              O campo é obrigatório.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" appTranslate="longonkeloApp.docente.documentoNumero" for="field_documentoNumero"
            >Documento Numero</label
          >
          <input
            type="text"
            class="form-control"
            name="documentoNumero"
            id="field_documentoNumero"
            data-cy="documentoNumero"
            formControlName="documentoNumero"
          />
          <div
            *ngIf="
              editForm.get('documentoNumero')!.invalid &&
              (editForm.get('documentoNumero')!.dirty || editForm.get('documentoNumero')!.touched)
            "
          >
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('documentoNumero')?.errors?.required"
              appTranslate="entity.validation.required"
            >
              O campo é obrigatório.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" appTranslate="longonkeloApp.docente.documentoEmissao" for="field_documentoEmissao"
            >Documento Emissao</label
          >
          <div class="input-group">
            <input
              id="field_documentoEmissao"
              data-cy="documentoEmissao"
              type="text"
              class="form-control"
              name="documentoEmissao"
              ngbDatepicker
              #documentoEmissaoDp="ngbDatepicker"
              formControlName="documentoEmissao"
            />
            <button type="button" class="btn btn-secondary" (click)="documentoEmissaoDp.toggle()">
              <fa-icon icon="calendar-alt"></fa-icon>
            </button>
          </div>
          <div
            *ngIf="
              editForm.get('documentoEmissao')!.invalid &&
              (editForm.get('documentoEmissao')!.dirty || editForm.get('documentoEmissao')!.touched)
            "
          >
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('documentoEmissao')?.errors?.required"
              appTranslate="entity.validation.required"
            >
              O campo é obrigatório.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" appTranslate="longonkeloApp.docente.documentoValidade" for="field_documentoValidade"
            >Documento Validade</label
          >
          <div class="input-group">
            <input
              id="field_documentoValidade"
              data-cy="documentoValidade"
              type="text"
              class="form-control"
              name="documentoValidade"
              ngbDatepicker
              #documentoValidadeDp="ngbDatepicker"
              formControlName="documentoValidade"
            />
            <button type="button" class="btn btn-secondary" (click)="documentoValidadeDp.toggle()">
              <fa-icon icon="calendar-alt"></fa-icon>
            </button>
          </div>
          <div
            *ngIf="
              editForm.get('documentoValidade')!.invalid &&
              (editForm.get('documentoValidade')!.dirty || editForm.get('documentoValidade')!.touched)
            "
          >
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('documentoValidade')?.errors?.required"
              appTranslate="entity.validation.required"
            >
              O campo é obrigatório.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" appTranslate="longonkeloApp.docente.residencia" for="field_residencia">Residencia</label>
          <input
            type="text"
            class="form-control"
            name="residencia"
            id="field_residencia"
            data-cy="residencia"
            formControlName="residencia"
          />
          <div *ngIf="editForm.get('residencia')!.invalid && (editForm.get('residencia')!.dirty || editForm.get('residencia')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('residencia')?.errors?.required"
              appTranslate="entity.validation.required"
            >
              O campo é obrigatório.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" appTranslate="longonkeloApp.docente.dataInicioFuncoes" for="field_dataInicioFuncoes"
            >Data Inicio Funcoes</label
          >
          <div class="input-group">
            <input
              id="field_dataInicioFuncoes"
              data-cy="dataInicioFuncoes"
              type="text"
              class="form-control"
              name="dataInicioFuncoes"
              ngbDatepicker
              #dataInicioFuncoesDp="ngbDatepicker"
              formControlName="dataInicioFuncoes"
            />
            <button type="button" class="btn btn-secondary" (click)="dataInicioFuncoesDp.toggle()">
              <fa-icon icon="calendar-alt"></fa-icon>
            </button>
          </div>
          <div
            *ngIf="
              editForm.get('dataInicioFuncoes')!.invalid &&
              (editForm.get('dataInicioFuncoes')!.dirty || editForm.get('dataInicioFuncoes')!.touched)
            "
          >
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('dataInicioFuncoes')?.errors?.required"
              appTranslate="entity.validation.required"
            >
              O campo é obrigatório.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" appTranslate="longonkeloApp.docente.telefonePrincipal" for="field_telefonePrincipal"
            >Telefone Principal</label
          >
          <input
            type="text"
            class="form-control"
            name="telefonePrincipal"
            id="field_telefonePrincipal"
            data-cy="telefonePrincipal"
            formControlName="telefonePrincipal"
          />
          <div
            *ngIf="
              editForm.get('telefonePrincipal')!.invalid &&
              (editForm.get('telefonePrincipal')!.dirty || editForm.get('telefonePrincipal')!.touched)
            "
          >
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('telefonePrincipal')?.errors?.required"
              appTranslate="entity.validation.required"
            >
              O campo é obrigatório.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" appTranslate="longonkeloApp.docente.telefoneParente" for="field_telefoneParente"
            >Telefone Parente</label
          >
          <input
            type="text"
            class="form-control"
            name="telefoneParente"
            id="field_telefoneParente"
            data-cy="telefoneParente"
            formControlName="telefoneParente"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" appTranslate="longonkeloApp.docente.email" for="field_email">Email</label>
          <input type="text" class="form-control" name="email" id="field_email" data-cy="email" formControlName="email" />
          <div *ngIf="editForm.get('email')!.invalid && (editForm.get('email')!.dirty || editForm.get('email')!.touched)"></div>
        </div>

        <div class="row mb-3">
          <label class="form-label" appTranslate="longonkeloApp.docente.numeroAgente" for="field_numeroAgente">Numero Agente</label>
          <input
            type="text"
            class="form-control"
            name="numeroAgente"
            id="field_numeroAgente"
            data-cy="numeroAgente"
            formControlName="numeroAgente"
          />
          <div
            *ngIf="editForm.get('numeroAgente')!.invalid && (editForm.get('numeroAgente')!.dirty || editForm.get('numeroAgente')!.touched)"
          ></div>
        </div>

        <div class="row mb-3">
          <label class="form-label" appTranslate="longonkeloApp.docente.temAgregacaoPedagogica" for="field_temAgregacaoPedagogica"
            >Tem Agregacao Pedagogica</label
          >
          <input
            type="checkbox"
            class="form-check"
            name="temAgregacaoPedagogica"
            id="field_temAgregacaoPedagogica"
            data-cy="temAgregacaoPedagogica"
            formControlName="temAgregacaoPedagogica"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" appTranslate="longonkeloApp.docente.observacao" for="field_observacao">Observacao</label>
          <textarea
            class="form-control"
            name="observacao"
            id="field_observacao"
            data-cy="observacao"
            formControlName="observacao"
          ></textarea>
        </div>

        <div class="row mb-3">
          <label class="form-label" appTranslate="longonkeloApp.docente.hash" for="field_hash">Hash</label>
          <input type="text" class="form-control" name="hash" id="field_hash" data-cy="hash" formControlName="hash" />
        </div>

        <div class="row mb-3">
          <label class="form-label" appTranslate="longonkeloApp.docente.timestamp" for="field_timestamp">Timestamp</label>
          <div class="d-flex">
            <input
              id="field_timestamp"
              data-cy="timestamp"
              type="datetime-local"
              class="form-control"
              name="timestamp"
              formControlName="timestamp"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" appTranslate="longonkeloApp.docente.nacionalidade" for="field_nacionalidade">Nacionalidade</label>
          <select
            class="form-control"
            id="field_nacionalidade"
            data-cy="nacionalidade"
            name="nacionalidade"
            formControlName="nacionalidade"
            [compareWith]="compareLookupItem"
          >
            <option *ngIf="!editForm.get('nacionalidade')!.value" [ngValue]="null" selected></option>
            <option [ngValue]="lookupItemOption" *ngFor="let lookupItemOption of lookupItemsSharedCollection">
              {{ lookupItemOption.descricao }}
            </option>
          </select>
        </div>
        <div
          *ngIf="
            editForm.get(['nacionalidade'])!.invalid && (editForm.get(['nacionalidade'])!.dirty || editForm.get(['nacionalidade'])!.touched)
          "
        >
          <small
            class="form-text text-danger"
            *ngIf="editForm.get(['nacionalidade'])?.errors?.required"
            appTranslate="entity.validation.required"
          >
            O campo é obrigatório.
          </small>
        </div>

        <div class="row mb-3">
          <label class="form-label" appTranslate="longonkeloApp.docente.naturalidade" for="field_naturalidade">Naturalidade</label>
          <select
            class="form-control"
            id="field_naturalidade"
            data-cy="naturalidade"
            name="naturalidade"
            formControlName="naturalidade"
            [compareWith]="compareLookupItem"
          >
            <option *ngIf="!editForm.get('naturalidade')!.value" [ngValue]="null" selected></option>
            <option [ngValue]="lookupItemOption" *ngFor="let lookupItemOption of lookupItemsSharedCollection">
              {{ lookupItemOption.descricao }}
            </option>
          </select>
        </div>
        <div
          *ngIf="
            editForm.get(['naturalidade'])!.invalid && (editForm.get(['naturalidade'])!.dirty || editForm.get(['naturalidade'])!.touched)
          "
        >
          <small
            class="form-text text-danger"
            *ngIf="editForm.get(['naturalidade'])?.errors?.required"
            appTranslate="entity.validation.required"
          >
            O campo é obrigatório.
          </small>
        </div>

        <div class="row mb-3">
          <label class="form-label" appTranslate="longonkeloApp.docente.tipoDocumento" for="field_tipoDocumento">Tipo Documento</label>
          <select
            class="form-control"
            id="field_tipoDocumento"
            data-cy="tipoDocumento"
            name="tipoDocumento"
            formControlName="tipoDocumento"
            [compareWith]="compareLookupItem"
          >
            <option *ngIf="!editForm.get('tipoDocumento')!.value" [ngValue]="null" selected></option>
            <option [ngValue]="lookupItemOption" *ngFor="let lookupItemOption of lookupItemsSharedCollection">
              {{ lookupItemOption.descricao }}
            </option>
          </select>
        </div>
        <div
          *ngIf="
            editForm.get(['tipoDocumento'])!.invalid && (editForm.get(['tipoDocumento'])!.dirty || editForm.get(['tipoDocumento'])!.touched)
          "
        >
          <small
            class="form-text text-danger"
            *ngIf="editForm.get(['tipoDocumento'])?.errors?.required"
            appTranslate="entity.validation.required"
          >
            O campo é obrigatório.
          </small>
        </div>

        <div class="row mb-3">
          <label class="form-label" appTranslate="longonkeloApp.docente.grauAcademico" for="field_grauAcademico">Grau Academico</label>
          <select
            class="form-control"
            id="field_grauAcademico"
            data-cy="grauAcademico"
            name="grauAcademico"
            formControlName="grauAcademico"
            [compareWith]="compareLookupItem"
          >
            <option *ngIf="!editForm.get('grauAcademico')!.value" [ngValue]="null" selected></option>
            <option [ngValue]="lookupItemOption" *ngFor="let lookupItemOption of lookupItemsSharedCollection">
              {{ lookupItemOption.descricao }}
            </option>
          </select>
        </div>
        <div
          *ngIf="
            editForm.get(['grauAcademico'])!.invalid && (editForm.get(['grauAcademico'])!.dirty || editForm.get(['grauAcademico'])!.touched)
          "
        >
          <small
            class="form-text text-danger"
            *ngIf="editForm.get(['grauAcademico'])?.errors?.required"
            appTranslate="entity.validation.required"
          >
            O campo é obrigatório.
          </small>
        </div>

        <div class="row mb-3">
          <label class="form-label" appTranslate="longonkeloApp.docente.categoriaProfissional" for="field_categoriaProfissional"
            >Categoria Profissional</label
          >
          <select
            class="form-control"
            id="field_categoriaProfissional"
            data-cy="categoriaProfissional"
            name="categoriaProfissional"
            formControlName="categoriaProfissional"
            [compareWith]="compareLookupItem"
          >
            <option [ngValue]="null"></option>
            <option [ngValue]="lookupItemOption" *ngFor="let lookupItemOption of lookupItemsSharedCollection">
              {{ lookupItemOption.descricao }}
            </option>
          </select>
        </div>

        <div class="row mb-3">
          <label class="form-label" appTranslate="longonkeloApp.docente.unidadeOrganica" for="field_unidadeOrganica"
            >Unidade Organica</label
          >
          <select
            class="form-control"
            id="field_unidadeOrganica"
            data-cy="unidadeOrganica"
            name="unidadeOrganica"
            formControlName="unidadeOrganica"
            [compareWith]="compareLookupItem"
          >
            <option [ngValue]="null"></option>
            <option [ngValue]="lookupItemOption" *ngFor="let lookupItemOption of lookupItemsSharedCollection">
              {{ lookupItemOption.descricao }}
            </option>
          </select>
        </div>

        <div class="row mb-3">
          <label class="form-label" appTranslate="longonkeloApp.docente.estadoCivil" for="field_estadoCivil">Estado Civil</label>
          <select
            class="form-control"
            id="field_estadoCivil"
            data-cy="estadoCivil"
            name="estadoCivil"
            formControlName="estadoCivil"
            [compareWith]="compareLookupItem"
          >
            <option *ngIf="!editForm.get('estadoCivil')!.value" [ngValue]="null" selected></option>
            <option [ngValue]="lookupItemOption" *ngFor="let lookupItemOption of lookupItemsSharedCollection">
              {{ lookupItemOption.descricao }}
            </option>
          </select>
        </div>
        <div
          *ngIf="editForm.get(['estadoCivil'])!.invalid && (editForm.get(['estadoCivil'])!.dirty || editForm.get(['estadoCivil'])!.touched)"
        >
          <small
            class="form-text text-danger"
            *ngIf="editForm.get(['estadoCivil'])?.errors?.required"
            appTranslate="entity.validation.required"
          >
            O campo é obrigatório.
          </small>
        </div>

        <div class="row mb-3">
          <label class="form-label" appTranslate="longonkeloApp.docente.responsavelTurno" for="field_responsavelTurno"
            >Responsavel Turno</label
          >
          <select
            class="form-control"
            id="field_responsavelTurno"
            data-cy="responsavelTurno"
            name="responsavelTurno"
            formControlName="responsavelTurno"
            [compareWith]="compareResponsavelTurno"
          >
            <option [ngValue]="null"></option>
            <option [ngValue]="responsavelTurnoOption" *ngFor="let responsavelTurnoOption of responsavelTurnosSharedCollection">
              {{ responsavelTurnoOption.id }}
            </option>
          </select>
        </div>

        <div class="row mb-3">
          <label class="form-label" appTranslate="longonkeloApp.docente.responsavelAreaFormacao" for="field_responsavelAreaFormacao"
            >Responsavel Area Formacao</label
          >
          <select
            class="form-control"
            id="field_responsavelAreaFormacao"
            data-cy="responsavelAreaFormacao"
            name="responsavelAreaFormacao"
            formControlName="responsavelAreaFormacao"
            [compareWith]="compareResponsavelAreaFormacao"
          >
            <option [ngValue]="null"></option>
            <option
              [ngValue]="responsavelAreaFormacaoOption"
              *ngFor="let responsavelAreaFormacaoOption of responsavelAreaFormacaosSharedCollection"
            >
              {{ responsavelAreaFormacaoOption.id }}
            </option>
          </select>
        </div>

        <div class="row mb-3">
          <label class="form-label" appTranslate="longonkeloApp.docente.responsavelCurso" for="field_responsavelCurso"
            >Responsavel Curso</label
          >
          <select
            class="form-control"
            id="field_responsavelCurso"
            data-cy="responsavelCurso"
            name="responsavelCurso"
            formControlName="responsavelCurso"
            [compareWith]="compareResponsavelCurso"
          >
            <option [ngValue]="null"></option>
            <option [ngValue]="responsavelCursoOption" *ngFor="let responsavelCursoOption of responsavelCursosSharedCollection">
              {{ responsavelCursoOption.id }}
            </option>
          </select>
        </div>

        <div class="row mb-3">
          <label class="form-label" appTranslate="longonkeloApp.docente.responsavelDisciplina" for="field_responsavelDisciplina"
            >Responsavel Disciplina</label
          >
          <select
            class="form-control"
            id="field_responsavelDisciplina"
            data-cy="responsavelDisciplina"
            name="responsavelDisciplina"
            formControlName="responsavelDisciplina"
            [compareWith]="compareResponsavelDisciplina"
          >
            <option [ngValue]="null"></option>
            <option
              [ngValue]="responsavelDisciplinaOption"
              *ngFor="let responsavelDisciplinaOption of responsavelDisciplinasSharedCollection"
            >
              {{ responsavelDisciplinaOption.id }}
            </option>
          </select>
        </div>

        <div class="row mb-3">
          <label class="form-label" appTranslate="longonkeloApp.docente.responsavelTurma" for="field_responsavelTurma"
            >Responsavel Turma</label
          >
          <select
            class="form-control"
            id="field_responsavelTurma"
            data-cy="responsavelTurma"
            name="responsavelTurma"
            formControlName="responsavelTurma"
            [compareWith]="compareResponsavelTurma"
          >
            <option [ngValue]="null"></option>
            <option [ngValue]="responsavelTurmaOption" *ngFor="let responsavelTurmaOption of responsavelTurmasSharedCollection">
              {{ responsavelTurmaOption.id }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span appTranslate="entity.action.cancel">Cancelar</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span appTranslate="entity.action.save">Guardar</span>
        </button>
      </div>
    </form>
  </div>
</div>
