<form *ngIf="recibo" name="deleteForm" (ngSubmit)="confirmDelete(recibo.id!)">
  <div class="modal-header">
    <h4 class="modal-title" data-cy="reciboDeleteDialogHeading" appTranslate="entity.delete.title">Confirme a eliminação</h4>

    <button type="button" class="btn-close" data-dismiss="modal" aria-hidden="true" (click)="cancel()">&times;</button>
  </div>

  <div class="modal-body">
    <app-alert-error></app-alert-error>
    <p id="app-delete-recibo-heading" appTranslate="longonkeloApp.recibo.delete.question" [translateValues]="{ id: recibo.id }">
      Tem a certeza que pretende eliminar o(a) Recibo {{ recibo.id }}?
    </p>
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="cancel()">
      <fa-icon icon="ban"></fa-icon>&nbsp;<span appTranslate="entity.action.cancel">Cancelar</span>
    </button>

    <button id="app-confirm-delete-recibo" data-cy="entityConfirmDeleteButton" type="submit" class="btn btn-danger">
      <fa-icon icon="times"></fa-icon>&nbsp;<span appTranslate="entity.action.delete">Eliminar</span>
    </button>
  </div>
</form>
