<div>
  <h2 id="page-heading" data-cy="LicaoHeading">
    <span appTranslate="longonkeloApp.licao.home.title">Licaos</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span appTranslate="longonkeloApp.licao.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-licao"
        [routerLink]="['/licao/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span appTranslate="longonkeloApp.licao.home.createLabel"> Criar novo(a) Licao </span>
      </button>
    </div>
  </h2>

  <app-alert-error></app-alert-error>

  <app-alert></app-alert>

  <app-filter [filters]="filters"></app-filter>

  <div class="alert alert-warning" id="no-result" *ngIf="licaos?.length === 0">
    <span appTranslate="longonkeloApp.licao.home.notFound">Nenhum Licaos encontrado</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="licaos && licaos.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr appSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <!-- <th scope="col" appSortBy="id">
            <div class="d-flex">
              <span appTranslate="global.field.id">Código</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th> -->
          <!-- <th scope="col" appSortBy="chaveComposta">
            <div class="d-flex">
              <span appTranslate="longonkeloApp.licao.chaveComposta">Chave Composta</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th> -->
          <th scope="col" appSortBy="numero">
            <div class="d-flex">
              <span appTranslate="longonkeloApp.licao.numero">Numero</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" appSortBy="estado">
            <div class="d-flex">
              <span appTranslate="longonkeloApp.licao.estado">Estado</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" appSortBy="descricao">
            <div class="d-flex">
              <span appTranslate="longonkeloApp.licao.descricao">Descricao</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <!-- <th scope="col" appSortBy="utilizador.login">
            <div class="d-flex">
              <span appTranslate="longonkeloApp.licao.utilizador">Utilizador</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th> -->
          <th scope="col" appSortBy="planoAula.assunto">
            <div class="d-flex">
              <span appTranslate="longonkeloApp.licao.planoAula">Plano Aula</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" appSortBy="horario.id">
            <div class="d-flex">
              <span appTranslate="longonkeloApp.licao.horario">Horario</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let licao of licaos; trackBy: trackId" data-cy="entityTable">
          <!-- <td>
            <a [routerLink]="['/licao', licao.id, 'view']">{{ licao.id }}</a>
          </td> -->
          <!-- <td>{{ licao.chaveComposta }}</td> -->
          <td>{{ licao.numero }}</td>
          <td appTranslate="{{ 'longonkeloApp.EstadoLicao.' + licao.estado }}">{{ licao.estado }}</td>
          <td>{{ licao.descricao }}</td>
          <!-- <td>
            {{ licao.utilizador?.login }}
          </td> -->
          <td>
            <div *ngIf="licao.planoAula">
              <a [routerLink]="['/plano-aula', licao.planoAula.id, 'view']">{{ licao.planoAula.assunto }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="licao.horario">
              <a [routerLink]="['/horario', licao.horario.id, 'view']">{{ licao.horario.id }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/ocorrencia']"
                [queryParams]="{ 'filter[licaoId.in]': licao.id }"
                class="btn btn-info btn-sm"
                data-cy="filterOtherEntityButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span
                  class="d-none d-md-inline"
                  appTranslate="entity.action.show"
                  [translateValues]="{ otherEntity: ('longonkeloApp.licao.ocorrencias' | translate) }"
                  >Show Ocorrencia</span
                >
              </button>
              <button type="submit" [routerLink]="['/licao', licao.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" appTranslate="entity.action.view">Visualizar</span>
              </button>

              <button type="submit" [routerLink]="['/licao', licao.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" appTranslate="entity.action.edit">Editar</span>
              </button>

              <button type="submit" (click)="delete(licao)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" appTranslate="entity.action.delete">Eliminar</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="licaos && licaos.length > 0">
    <div class="d-flex justify-content-center">
      <app-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></app-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [page]="page"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="navigateToPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
