<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="app-plano-curricular-heading"
        data-cy="PlanoCurricularCreateUpdateHeading"
        appTranslate="longonkeloApp.planoCurricular.home.createOrEditLabel"
      >
        Criar ou editar Plano Curricular
      </h2>

      <div>
        <app-alert-error></app-alert-error>

        <div class="row mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" appTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" appTranslate="longonkeloApp.planoCurricular.descricao" for="field_descricao">Descricao</label>
          <input type="text" class="form-control" name="descricao" id="field_descricao" data-cy="descricao" formControlName="descricao" />
          <div *ngIf="editForm.get('descricao')!.invalid && (editForm.get('descricao')!.dirty || editForm.get('descricao')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('descricao')?.errors?.required"
              appTranslate="entity.validation.required"
            >
              O campo é obrigatório.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label
            class="form-label"
            appTranslate="longonkeloApp.planoCurricular.formulaClassificacaoFinal"
            for="field_formulaClassificacaoFinal"
            >Formula Classificacao Final</label
          >
          <input
            type="text"
            class="form-control"
            name="formulaClassificacaoFinal"
            id="field_formulaClassificacaoFinal"
            data-cy="formulaClassificacaoFinal"
            formControlName="formulaClassificacaoFinal"
          />
          <div
            *ngIf="
              editForm.get('formulaClassificacaoFinal')!.invalid &&
              (editForm.get('formulaClassificacaoFinal')!.dirty || editForm.get('formulaClassificacaoFinal')!.touched)
            "
          >
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('formulaClassificacaoFinal')?.errors?.required"
              appTranslate="entity.validation.required"
            >
              O campo é obrigatório.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" appTranslate="longonkeloApp.planoCurricular.numeroDisciplinaAprova" for="field_numeroDisciplinaAprova"
            >Numero Disciplina Aprova</label
          >
          <input
            type="number"
            class="form-control"
            name="numeroDisciplinaAprova"
            id="field_numeroDisciplinaAprova"
            data-cy="numeroDisciplinaAprova"
            formControlName="numeroDisciplinaAprova"
          />
          <div
            *ngIf="
              editForm.get('numeroDisciplinaAprova')!.invalid &&
              (editForm.get('numeroDisciplinaAprova')!.dirty || editForm.get('numeroDisciplinaAprova')!.touched)
            "
          >
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('numeroDisciplinaAprova')?.errors?.required"
              appTranslate="entity.validation.required"
            >
              O campo é obrigatório.
            </small>
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('numeroDisciplinaAprova')?.errors?.min"
              appTranslate="entity.validation.min"
              [translateValues]="{ min: 0 }"
            >
              Este campo deve ser maior que 0.
            </small>
            <small
              class="form-text text-danger"
              [hidden]="!editForm.get('numeroDisciplinaAprova')?.errors?.number"
              appTranslate="entity.validation.number"
            >
              Este campo é do tipo número.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" appTranslate="longonkeloApp.planoCurricular.numeroDisciplinaReprova" for="field_numeroDisciplinaReprova"
            >Numero Disciplina Reprova</label
          >
          <input
            type="number"
            class="form-control"
            name="numeroDisciplinaReprova"
            id="field_numeroDisciplinaReprova"
            data-cy="numeroDisciplinaReprova"
            formControlName="numeroDisciplinaReprova"
          />
          <div
            *ngIf="
              editForm.get('numeroDisciplinaReprova')!.invalid &&
              (editForm.get('numeroDisciplinaReprova')!.dirty || editForm.get('numeroDisciplinaReprova')!.touched)
            "
          >
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('numeroDisciplinaReprova')?.errors?.required"
              appTranslate="entity.validation.required"
            >
              O campo é obrigatório.
            </small>
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('numeroDisciplinaReprova')?.errors?.min"
              appTranslate="entity.validation.min"
              [translateValues]="{ min: 0 }"
            >
              Este campo deve ser maior que 0.
            </small>
            <small
              class="form-text text-danger"
              [hidden]="!editForm.get('numeroDisciplinaReprova')?.errors?.number"
              appTranslate="entity.validation.number"
            >
              Este campo é do tipo número.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" appTranslate="longonkeloApp.planoCurricular.numeroDisciplinaRecurso" for="field_numeroDisciplinaRecurso"
            >Numero Disciplina Recurso</label
          >
          <input
            type="number"
            class="form-control"
            name="numeroDisciplinaRecurso"
            id="field_numeroDisciplinaRecurso"
            data-cy="numeroDisciplinaRecurso"
            formControlName="numeroDisciplinaRecurso"
          />
          <div
            *ngIf="
              editForm.get('numeroDisciplinaRecurso')!.invalid &&
              (editForm.get('numeroDisciplinaRecurso')!.dirty || editForm.get('numeroDisciplinaRecurso')!.touched)
            "
          >
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('numeroDisciplinaRecurso')?.errors?.required"
              appTranslate="entity.validation.required"
            >
              O campo é obrigatório.
            </small>
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('numeroDisciplinaRecurso')?.errors?.min"
              appTranslate="entity.validation.min"
              [translateValues]="{ min: 0 }"
            >
              Este campo deve ser maior que 0.
            </small>
            <small
              class="form-text text-danger"
              [hidden]="!editForm.get('numeroDisciplinaRecurso')?.errors?.number"
              appTranslate="entity.validation.number"
            >
              Este campo é do tipo número.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" appTranslate="longonkeloApp.planoCurricular.numeroDisciplinaExame" for="field_numeroDisciplinaExame"
            >Numero Disciplina Exame</label
          >
          <input
            type="number"
            class="form-control"
            name="numeroDisciplinaExame"
            id="field_numeroDisciplinaExame"
            data-cy="numeroDisciplinaExame"
            formControlName="numeroDisciplinaExame"
          />
          <div
            *ngIf="
              editForm.get('numeroDisciplinaExame')!.invalid &&
              (editForm.get('numeroDisciplinaExame')!.dirty || editForm.get('numeroDisciplinaExame')!.touched)
            "
          >
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('numeroDisciplinaExame')?.errors?.required"
              appTranslate="entity.validation.required"
            >
              O campo é obrigatório.
            </small>
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('numeroDisciplinaExame')?.errors?.min"
              appTranslate="entity.validation.min"
              [translateValues]="{ min: 0 }"
            >
              Este campo deve ser maior que 0.
            </small>
            <small
              class="form-text text-danger"
              [hidden]="!editForm.get('numeroDisciplinaExame')?.errors?.number"
              appTranslate="entity.validation.number"
            >
              Este campo é do tipo número.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label
            class="form-label"
            appTranslate="longonkeloApp.planoCurricular.numeroDisciplinaExameEspecial"
            for="field_numeroDisciplinaExameEspecial"
            >Numero Disciplina Exame Especial</label
          >
          <input
            type="number"
            class="form-control"
            name="numeroDisciplinaExameEspecial"
            id="field_numeroDisciplinaExameEspecial"
            data-cy="numeroDisciplinaExameEspecial"
            formControlName="numeroDisciplinaExameEspecial"
          />
          <div
            *ngIf="
              editForm.get('numeroDisciplinaExameEspecial')!.invalid &&
              (editForm.get('numeroDisciplinaExameEspecial')!.dirty || editForm.get('numeroDisciplinaExameEspecial')!.touched)
            "
          >
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('numeroDisciplinaExameEspecial')?.errors?.required"
              appTranslate="entity.validation.required"
            >
              O campo é obrigatório.
            </small>
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('numeroDisciplinaExameEspecial')?.errors?.min"
              appTranslate="entity.validation.min"
              [translateValues]="{ min: 0 }"
            >
              Este campo deve ser maior que 0.
            </small>
            <small
              class="form-text text-danger"
              [hidden]="!editForm.get('numeroDisciplinaExameEspecial')?.errors?.number"
              appTranslate="entity.validation.number"
            >
              Este campo é do tipo número.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" appTranslate="longonkeloApp.planoCurricular.numeroFaltaReprova" for="field_numeroFaltaReprova"
            >Numero Falta Reprova</label
          >
          <input
            type="number"
            class="form-control"
            name="numeroFaltaReprova"
            id="field_numeroFaltaReprova"
            data-cy="numeroFaltaReprova"
            formControlName="numeroFaltaReprova"
          />
          <div
            *ngIf="
              editForm.get('numeroFaltaReprova')!.invalid &&
              (editForm.get('numeroFaltaReprova')!.dirty || editForm.get('numeroFaltaReprova')!.touched)
            "
          >
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('numeroFaltaReprova')?.errors?.required"
              appTranslate="entity.validation.required"
            >
              O campo é obrigatório.
            </small>
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('numeroFaltaReprova')?.errors?.min"
              appTranslate="entity.validation.min"
              [translateValues]="{ min: 0 }"
            >
              Este campo deve ser maior que 0.
            </small>
            <small
              class="form-text text-danger"
              [hidden]="!editForm.get('numeroFaltaReprova')?.errors?.number"
              appTranslate="entity.validation.number"
            >
              Este campo é do tipo número.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" appTranslate="longonkeloApp.planoCurricular.pesoMedia1" for="field_pesoMedia1">Peso Media 1</label>
          <input
            type="number"
            class="form-control"
            name="pesoMedia1"
            id="field_pesoMedia1"
            data-cy="pesoMedia1"
            formControlName="pesoMedia1"
          />
          <div *ngIf="editForm.get('pesoMedia1')!.invalid && (editForm.get('pesoMedia1')!.dirty || editForm.get('pesoMedia1')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('pesoMedia1')?.errors?.min"
              appTranslate="entity.validation.min"
              [translateValues]="{ min: 0 }"
            >
              Este campo deve ser maior que 0.
            </small>
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('pesoMedia1')?.errors?.max"
              appTranslate="entity.validation.max"
              [translateValues]="{ max: 100 }"
            >
              Este campo não pode ser maior que 100.
            </small>
            <small
              class="form-text text-danger"
              [hidden]="!editForm.get('pesoMedia1')?.errors?.number"
              appTranslate="entity.validation.number"
            >
              Este campo é do tipo número.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" appTranslate="longonkeloApp.planoCurricular.pesoMedia2" for="field_pesoMedia2">Peso Media 2</label>
          <input
            type="number"
            class="form-control"
            name="pesoMedia2"
            id="field_pesoMedia2"
            data-cy="pesoMedia2"
            formControlName="pesoMedia2"
          />
          <div *ngIf="editForm.get('pesoMedia2')!.invalid && (editForm.get('pesoMedia2')!.dirty || editForm.get('pesoMedia2')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('pesoMedia2')?.errors?.min"
              appTranslate="entity.validation.min"
              [translateValues]="{ min: 0 }"
            >
              Este campo deve ser maior que 0.
            </small>
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('pesoMedia2')?.errors?.max"
              appTranslate="entity.validation.max"
              [translateValues]="{ max: 100 }"
            >
              Este campo não pode ser maior que 100.
            </small>
            <small
              class="form-text text-danger"
              [hidden]="!editForm.get('pesoMedia2')?.errors?.number"
              appTranslate="entity.validation.number"
            >
              Este campo é do tipo número.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" appTranslate="longonkeloApp.planoCurricular.pesoMedia3" for="field_pesoMedia3">Peso Media 3</label>
          <input
            type="number"
            class="form-control"
            name="pesoMedia3"
            id="field_pesoMedia3"
            data-cy="pesoMedia3"
            formControlName="pesoMedia3"
          />
          <div *ngIf="editForm.get('pesoMedia3')!.invalid && (editForm.get('pesoMedia3')!.dirty || editForm.get('pesoMedia3')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('pesoMedia3')?.errors?.min"
              appTranslate="entity.validation.min"
              [translateValues]="{ min: 0 }"
            >
              Este campo deve ser maior que 0.
            </small>
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('pesoMedia3')?.errors?.max"
              appTranslate="entity.validation.max"
              [translateValues]="{ max: 100 }"
            >
              Este campo não pode ser maior que 100.
            </small>
            <small
              class="form-text text-danger"
              [hidden]="!editForm.get('pesoMedia3')?.errors?.number"
              appTranslate="entity.validation.number"
            >
              Este campo é do tipo número.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" appTranslate="longonkeloApp.planoCurricular.pesoRecurso" for="field_pesoRecurso">Peso Recurso</label>
          <input
            type="number"
            class="form-control"
            name="pesoRecurso"
            id="field_pesoRecurso"
            data-cy="pesoRecurso"
            formControlName="pesoRecurso"
          />
          <div *ngIf="editForm.get('pesoRecurso')!.invalid && (editForm.get('pesoRecurso')!.dirty || editForm.get('pesoRecurso')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('pesoRecurso')?.errors?.min"
              appTranslate="entity.validation.min"
              [translateValues]="{ min: 0 }"
            >
              Este campo deve ser maior que 0.
            </small>
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('pesoRecurso')?.errors?.max"
              appTranslate="entity.validation.max"
              [translateValues]="{ max: 100 }"
            >
              Este campo não pode ser maior que 100.
            </small>
            <small
              class="form-text text-danger"
              [hidden]="!editForm.get('pesoRecurso')?.errors?.number"
              appTranslate="entity.validation.number"
            >
              Este campo é do tipo número.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" appTranslate="longonkeloApp.planoCurricular.pesoExame" for="field_pesoExame">Peso Exame</label>
          <input type="number" class="form-control" name="pesoExame" id="field_pesoExame" data-cy="pesoExame" formControlName="pesoExame" />
          <div *ngIf="editForm.get('pesoExame')!.invalid && (editForm.get('pesoExame')!.dirty || editForm.get('pesoExame')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('pesoExame')?.errors?.min"
              appTranslate="entity.validation.min"
              [translateValues]="{ min: 0 }"
            >
              Este campo deve ser maior que 0.
            </small>
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('pesoExame')?.errors?.max"
              appTranslate="entity.validation.max"
              [translateValues]="{ max: 100 }"
            >
              Este campo não pode ser maior que 100.
            </small>
            <small
              class="form-text text-danger"
              [hidden]="!editForm.get('pesoExame')?.errors?.number"
              appTranslate="entity.validation.number"
            >
              Este campo é do tipo número.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" appTranslate="longonkeloApp.planoCurricular.pesoExameEspecial" for="field_pesoExameEspecial"
            >Peso Exame Especial</label
          >
          <input
            type="number"
            class="form-control"
            name="pesoExameEspecial"
            id="field_pesoExameEspecial"
            data-cy="pesoExameEspecial"
            formControlName="pesoExameEspecial"
          />
          <div
            *ngIf="
              editForm.get('pesoExameEspecial')!.invalid &&
              (editForm.get('pesoExameEspecial')!.dirty || editForm.get('pesoExameEspecial')!.touched)
            "
          >
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('pesoExameEspecial')?.errors?.min"
              appTranslate="entity.validation.min"
              [translateValues]="{ min: 0 }"
            >
              Este campo deve ser maior que 0.
            </small>
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('pesoExameEspecial')?.errors?.max"
              appTranslate="entity.validation.max"
              [translateValues]="{ max: 100 }"
            >
              Este campo não pode ser maior que 100.
            </small>
            <small
              class="form-text text-danger"
              [hidden]="!editForm.get('pesoExameEspecial')?.errors?.number"
              appTranslate="entity.validation.number"
            >
              Este campo é do tipo número.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" appTranslate="longonkeloApp.planoCurricular.pesoNotaCoselho" for="field_pesoNotaCoselho"
            >Peso Nota Coselho</label
          >
          <input
            type="number"
            class="form-control"
            name="pesoNotaCoselho"
            id="field_pesoNotaCoselho"
            data-cy="pesoNotaCoselho"
            formControlName="pesoNotaCoselho"
          />
          <div
            *ngIf="
              editForm.get('pesoNotaCoselho')!.invalid &&
              (editForm.get('pesoNotaCoselho')!.dirty || editForm.get('pesoNotaCoselho')!.touched)
            "
          >
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('pesoNotaCoselho')?.errors?.min"
              appTranslate="entity.validation.min"
              [translateValues]="{ min: 0 }"
            >
              Este campo deve ser maior que 0.
            </small>
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('pesoNotaCoselho')?.errors?.max"
              appTranslate="entity.validation.max"
              [translateValues]="{ max: 100 }"
            >
              Este campo não pode ser maior que 100.
            </small>
            <small
              class="form-text text-danger"
              [hidden]="!editForm.get('pesoNotaCoselho')?.errors?.number"
              appTranslate="entity.validation.number"
            >
              Este campo é do tipo número.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" appTranslate="longonkeloApp.planoCurricular.siglaProva1" for="field_siglaProva1">Sigla Prova 1</label>
          <input
            type="text"
            class="form-control"
            name="siglaProva1"
            id="field_siglaProva1"
            data-cy="siglaProva1"
            formControlName="siglaProva1"
          />
          <div *ngIf="editForm.get('siglaProva1')!.invalid && (editForm.get('siglaProva1')!.dirty || editForm.get('siglaProva1')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('siglaProva1')?.errors?.required"
              appTranslate="entity.validation.required"
            >
              O campo é obrigatório.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" appTranslate="longonkeloApp.planoCurricular.siglaProva2" for="field_siglaProva2">Sigla Prova 2</label>
          <input
            type="text"
            class="form-control"
            name="siglaProva2"
            id="field_siglaProva2"
            data-cy="siglaProva2"
            formControlName="siglaProva2"
          />
          <div *ngIf="editForm.get('siglaProva2')!.invalid && (editForm.get('siglaProva2')!.dirty || editForm.get('siglaProva2')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('siglaProva2')?.errors?.required"
              appTranslate="entity.validation.required"
            >
              O campo é obrigatório.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" appTranslate="longonkeloApp.planoCurricular.siglaProva3" for="field_siglaProva3">Sigla Prova 3</label>
          <input
            type="text"
            class="form-control"
            name="siglaProva3"
            id="field_siglaProva3"
            data-cy="siglaProva3"
            formControlName="siglaProva3"
          />
          <div *ngIf="editForm.get('siglaProva3')!.invalid && (editForm.get('siglaProva3')!.dirty || editForm.get('siglaProva3')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('siglaProva3')?.errors?.required"
              appTranslate="entity.validation.required"
            >
              O campo é obrigatório.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" appTranslate="longonkeloApp.planoCurricular.siglaMedia1" for="field_siglaMedia1">Sigla Media 1</label>
          <input
            type="text"
            class="form-control"
            name="siglaMedia1"
            id="field_siglaMedia1"
            data-cy="siglaMedia1"
            formControlName="siglaMedia1"
          />
          <div *ngIf="editForm.get('siglaMedia1')!.invalid && (editForm.get('siglaMedia1')!.dirty || editForm.get('siglaMedia1')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('siglaMedia1')?.errors?.required"
              appTranslate="entity.validation.required"
            >
              O campo é obrigatório.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" appTranslate="longonkeloApp.planoCurricular.siglaMedia2" for="field_siglaMedia2">Sigla Media 2</label>
          <input
            type="text"
            class="form-control"
            name="siglaMedia2"
            id="field_siglaMedia2"
            data-cy="siglaMedia2"
            formControlName="siglaMedia2"
          />
          <div *ngIf="editForm.get('siglaMedia2')!.invalid && (editForm.get('siglaMedia2')!.dirty || editForm.get('siglaMedia2')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('siglaMedia2')?.errors?.required"
              appTranslate="entity.validation.required"
            >
              O campo é obrigatório.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" appTranslate="longonkeloApp.planoCurricular.siglaMedia3" for="field_siglaMedia3">Sigla Media 3</label>
          <input
            type="text"
            class="form-control"
            name="siglaMedia3"
            id="field_siglaMedia3"
            data-cy="siglaMedia3"
            formControlName="siglaMedia3"
          />
          <div *ngIf="editForm.get('siglaMedia3')!.invalid && (editForm.get('siglaMedia3')!.dirty || editForm.get('siglaMedia3')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('siglaMedia3')?.errors?.required"
              appTranslate="entity.validation.required"
            >
              O campo é obrigatório.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" appTranslate="longonkeloApp.planoCurricular.formulaMedia" for="field_formulaMedia">Formula Media</label>
          <input
            type="text"
            class="form-control"
            name="formulaMedia"
            id="field_formulaMedia"
            data-cy="formulaMedia"
            formControlName="formulaMedia"
          />
          <div
            *ngIf="editForm.get('formulaMedia')!.invalid && (editForm.get('formulaMedia')!.dirty || editForm.get('formulaMedia')!.touched)"
          >
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('formulaMedia')?.errors?.required"
              appTranslate="entity.validation.required"
            >
              O campo é obrigatório.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" appTranslate="longonkeloApp.planoCurricular.formulaDispensa" for="field_formulaDispensa"
            >Formula Dispensa</label
          >
          <input
            type="text"
            class="form-control"
            name="formulaDispensa"
            id="field_formulaDispensa"
            data-cy="formulaDispensa"
            formControlName="formulaDispensa"
          />
          <div
            *ngIf="
              editForm.get('formulaDispensa')!.invalid &&
              (editForm.get('formulaDispensa')!.dirty || editForm.get('formulaDispensa')!.touched)
            "
          >
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('formulaDispensa')?.errors?.required"
              appTranslate="entity.validation.required"
            >
              O campo é obrigatório.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" appTranslate="longonkeloApp.planoCurricular.formulaExame" for="field_formulaExame">Formula Exame</label>
          <input
            type="text"
            class="form-control"
            name="formulaExame"
            id="field_formulaExame"
            data-cy="formulaExame"
            formControlName="formulaExame"
          />
          <div
            *ngIf="editForm.get('formulaExame')!.invalid && (editForm.get('formulaExame')!.dirty || editForm.get('formulaExame')!.touched)"
          >
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('formulaExame')?.errors?.required"
              appTranslate="entity.validation.required"
            >
              O campo é obrigatório.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" appTranslate="longonkeloApp.planoCurricular.formulaRecurso" for="field_formulaRecurso"
            >Formula Recurso</label
          >
          <input
            type="text"
            class="form-control"
            name="formulaRecurso"
            id="field_formulaRecurso"
            data-cy="formulaRecurso"
            formControlName="formulaRecurso"
          />
          <div
            *ngIf="
              editForm.get('formulaRecurso')!.invalid && (editForm.get('formulaRecurso')!.dirty || editForm.get('formulaRecurso')!.touched)
            "
          >
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('formulaRecurso')?.errors?.required"
              appTranslate="entity.validation.required"
            >
              O campo é obrigatório.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" appTranslate="longonkeloApp.planoCurricular.formulaExameEspecial" for="field_formulaExameEspecial"
            >Formula Exame Especial</label
          >
          <input
            type="text"
            class="form-control"
            name="formulaExameEspecial"
            id="field_formulaExameEspecial"
            data-cy="formulaExameEspecial"
            formControlName="formulaExameEspecial"
          />
          <div
            *ngIf="
              editForm.get('formulaExameEspecial')!.invalid &&
              (editForm.get('formulaExameEspecial')!.dirty || editForm.get('formulaExameEspecial')!.touched)
            "
          >
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('formulaExameEspecial')?.errors?.required"
              appTranslate="entity.validation.required"
            >
              O campo é obrigatório.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" appTranslate="longonkeloApp.planoCurricular.utilizador" for="field_utilizador">Utilizador</label>
          <select
            class="form-control"
            id="field_utilizador"
            data-cy="utilizador"
            name="utilizador"
            formControlName="utilizador"
            [compareWith]="compareUser"
          >
            <option [ngValue]="null"></option>
            <option [ngValue]="userOption" *ngFor="let userOption of usersSharedCollection">{{ userOption.login }}</option>
          </select>
        </div>

        <div class="row mb-3">
          <label class="form-label" appTranslate="longonkeloApp.planoCurricular.classe" for="field_classe">Classe</label>
          <select
            class="form-control"
            id="field_classe"
            data-cy="classe"
            name="classe"
            formControlName="classe"
            [compareWith]="compareClasse"
          >
            <option *ngIf="editForm.get(['classe'])!.value == null" [ngValue]="null" selected></option>
            <option [ngValue]="classeOption" *ngFor="let classeOption of classesSharedCollection">{{ classeOption.descricao }}</option>
          </select>
        </div>
        <div *ngIf="editForm.get(['classe'])!.invalid && (editForm.get(['classe'])!.dirty || editForm.get(['classe'])!.touched)">
          <small class="form-text text-danger" *ngIf="editForm.get(['classe'])?.errors?.required" appTranslate="entity.validation.required">
            O campo é obrigatório.
          </small>
        </div>

        <div class="row mb-3">
          <label class="form-label" appTranslate="longonkeloApp.planoCurricular.curso" for="field_curso">Curso</label>
          <select class="form-control" id="field_curso" data-cy="curso" name="curso" formControlName="curso" [compareWith]="compareCurso">
            <option *ngIf="editForm.get(['curso'])!.value == null" [ngValue]="null" selected></option>
            <option [ngValue]="cursoOption" *ngFor="let cursoOption of cursosSharedCollection">{{ cursoOption.nome }}</option>
          </select>
        </div>
        <div *ngIf="editForm.get(['curso'])!.invalid && (editForm.get(['curso'])!.dirty || editForm.get(['curso'])!.touched)">
          <small class="form-text text-danger" *ngIf="editForm.get(['curso'])?.errors?.required" appTranslate="entity.validation.required">
            O campo é obrigatório.
          </small>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span appTranslate="entity.action.cancel">Cancelar</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span appTranslate="entity.action.save">Guardar</span>
        </button>
      </div>
    </form>
  </div>
</div>
