<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="factura">
      <h2 data-cy="facturaDetailsHeading">
        <span appTranslate="longonkeloApp.factura.detail.title">Factura</span> [<span>{{ factura.numero }}</span
        >]
      </h2>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span appTranslate="entity.action.back">Voltar</span>
      </button>

      <button type="button" [routerLink]="['/factura', factura.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span appTranslate="entity.action.edit">Editar</span>
      </button>

      <hr />

      <app-alert-error></app-alert-error>

      <app-alert></app-alert>

      <dl>
        <div class="row">
          <div class="col">
            <dt><span appTranslate="longonkeloApp.factura.numero">Numero</span></dt>
            <dd>
              <span>{{ factura.numero }}</span>
            </dd>

            <dt><span appTranslate="longonkeloApp.factura.dataEmissao">Data Emissao</span></dt>
            <dd>
              <span>{{ factura.dataEmissao | formatMediumDate }}</span>
            </dd>
            <dt><span appTranslate="longonkeloApp.factura.dataVencimento">Data Vencimento</span></dt>
            <dd>
              <span>{{ factura.dataVencimento | formatMediumDate }}</span>
            </dd>

            <dt><span appTranslate="longonkeloApp.factura.observacaoGeral">Observacao Geral</span></dt>
            <dd>
              <span>{{ factura.observacaoGeral }}</span>
            </dd>
            <dt><span appTranslate="longonkeloApp.factura.observacaoInterna">Observacao Interna</span></dt>
            <dd>
              <span>{{ factura.observacaoInterna }}</span>
            </dd>
            <dt><span appTranslate="longonkeloApp.factura.estado">Estado</span></dt>
            <dd>
              <span appTranslate="{{ 'longonkeloApp.EstadoDocumentoComercial.' + factura.estado }}">{{ factura.estado }}</span>
            </dd>

            <dt><span appTranslate="longonkeloApp.factura.timestamp">Timestamp</span></dt>
            <dd>
              <span>{{ factura.timestamp | formatMediumDatetime }}</span>
            </dd>

            <dt><span appTranslate="longonkeloApp.factura.matricula">Matricula</span></dt>
            <dd>
              <div *ngIf="factura.matricula">
                <a [routerLink]="['/matricula', factura.matricula.id, 'view']">{{ factura.matricula.numeroMatricula }}</a>
              </div>
            </dd>
          </div>

          <div class="col">
            <dt><span appTranslate="longonkeloApp.factura.totalDescontoFinanceiro">Total Desconto Financeiro</span></dt>
            <dd>
              <span>{{ factura.totalDescontoFinanceiro | currency: 'AKZ' }}</span>
            </dd>
            <dt><span appTranslate="longonkeloApp.factura.totalFactura">Total Factura</span></dt>
            <dd>
              <span>{{ factura.totalFactura | currency: 'AKZ' }}</span>
            </dd>
            <dt><span appTranslate="longonkeloApp.factura.totalPagar">Total Pagar</span></dt>
            <dd>
              <span>{{ factura.totalPagar | currency: 'AKZ' }}</span>
            </dd>
            <dt><span appTranslate="longonkeloApp.factura.totalPago">Total Pago</span></dt>
            <dd>
              <span>{{ factura.totalPago | currency: 'AKZ' }}</span>
            </dd>
            <dt><span appTranslate="longonkeloApp.factura.totalDiferenca">Total Diferenca</span></dt>
            <dd>
              <span>{{ factura.totalDiferenca | currency: 'AKZ' }}</span>
            </dd>
            <dt><span appTranslate="longonkeloApp.factura.utilizador">Utilizador</span></dt>
            <dd>
              <span>{{ factura.utilizador?.login }}</span>
            </dd>
            <dt><span appTranslate="longonkeloApp.factura.motivoAnulacao">Motivo Anulacao</span></dt>
            <dd>
              <div *ngIf="factura.motivoAnulacao">
                <a [routerLink]="['/lookup-item', factura.motivoAnulacao.id, 'view']">{{ factura.motivoAnulacao.descricao }}</a>
              </div>
            </dd>
            <dt><span appTranslate="longonkeloApp.factura.documentoComercial">Documento Comercial</span></dt>
            <dd>
              <div *ngIf="factura.documentoComercial">
                <a [routerLink]="['/documento-comercial', factura.documentoComercial.id, 'view']">{{
                  factura.documentoComercial.siglaInterna
                }}</a>
              </div>
            </dd>
          </div>
        </div>
      </dl>

      <app-item-factura [facturaID]="factura.id" [itemFacturas]="itemFacturas"></app-item-factura>
    </div>
  </div>
</div>
