<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="app-matricula-heading" data-cy="MatriculaCreateUpdateHeading" appTranslate="longonkeloApp.matricula.home.createOrEditLabel">
        Criar ou editar Matricula
      </h2>

      <div>
        <app-alert-error></app-alert-error>

        <div class="mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" appTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <!-- <div class=" mb-3">
          <label class="form-label" appTranslate="longonkeloApp.matricula.numeroMatricula" for="field_numeroMatricula"
            >Numero Matricula</label
          >
          <input
            type="text"
            class="form-control"
            name="numeroMatricula"
            id="field_numeroMatricula"
            data-cy="numeroMatricula"
            formControlName="numeroMatricula"
          />
          <div
            *ngIf="
              editForm.get('numeroMatricula')!.invalid &&
              (editForm.get('numeroMatricula')!.dirty || editForm.get('numeroMatricula')!.touched)
            "
          >
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('numeroMatricula')?.errors?.required"
              appTranslate="entity.validation.required"
            >
              O campo é obrigatório.
            </small>
          </div>
        </div> -->

        <div class="mb-3">
          <label class="form-label" appTranslate="longonkeloApp.matricula.referencia" for="field_referencia">Referencia</label>
          <ng-select
            id="field_referencia"
            data-cy="referencia"
            name="referencia"
            formControlName="referencia"
            [compareWith]="compareMatricula"
          >
            <ng-option [value]="null"></ng-option>
            <ng-option [value]="matriculaOption" *ngFor="let matriculaOption of matriculasSharedCollection">{{
              matriculaOption.id
            }}</ng-option>
          </ng-select>
        </div>

        <div class="mb-3">
          <label class="form-label" appTranslate="longonkeloApp.matricula.responsavelFinanceiro" for="field_responsavelFinanceiro"
            >Responsavel Financeiro</label
          >
          <ng-select
            id="field_responsavelFinanceiro"
            data-cy="responsavelFinanceiro"
            name="responsavelFinanceiro"
            formControlName="responsavelFinanceiro"
            [compareWith]="compareEncarregadoEducacao"
          >
            <ng-option [value]="null"></ng-option>
            <ng-option [value]="encarregadoEducacaoOption" *ngFor="let encarregadoEducacaoOption of encarregadoEducacaosSharedCollection">
              {{ encarregadoEducacaoOption.nome }}
            </ng-option>
          </ng-select>
        </div>

        <div class="mb-3">
          <label class="form-label" appTranslate="longonkeloApp.matricula.discente" for="field_discente">Discente</label>
          <ng-select id="field_discente" data-cy="discente" name="discente" formControlName="discente" [compareWith]="compareDiscente">
            <ng-option *ngIf="editForm.get(['discente'])!.value == null" [value]="null" selected></ng-option>
            <ng-option [value]="discenteOption" *ngFor="let discenteOption of discentesSharedCollection">{{
              discenteOption.nome
            }}</ng-option>
          </ng-select>
          <div *ngIf="editForm.get(['discente'])!.invalid && (editForm.get(['discente'])!.dirty || editForm.get(['discente'])!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get(['discente'])?.errors?.required"
              appTranslate="entity.validation.required"
            >
              O campo é obrigatório.
            </small>
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label" appTranslate="longonkeloApp.matricula.turma" for="field_turma">Turma</label>
          <ng-select id="field_turma" data-cy="turma" name="turma" formControlName="turma" [compareWith]="compareTurma">
            <ng-option *ngIf="editForm.get(['turma'])!.value == null" [value]="null" selected></ng-option>
            <ng-option [value]="turmaOption" *ngFor="let turmaOption of turmasSharedCollection">{{ turmaOption.descricao }}</ng-option>
          </ng-select>
          <div *ngIf="editForm.get(['turma'])!.invalid && (editForm.get(['turma'])!.dirty || editForm.get(['turma'])!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get(['turma'])?.errors?.required"
              appTranslate="entity.validation.required"
            >
              O campo é obrigatório.
            </small>
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label" appTranslate="longonkeloApp.matricula.estado" for="field_estado">Estado</label>
          <select class="form-control" name="estado" formControlName="estado" id="field_estado" data-cy="estado">
            <option [ngValue]="null">{{ 'longonkeloApp.EstadoAcademico.null' | translate }}</option>
            <option *ngFor="let estadoAcademico of estadoAcademicoValues" [value]="estadoAcademico">
              {{ 'longonkeloApp.EstadoAcademico.' + estadoAcademico | translate }}
            </option>
          </select>
          <div *ngIf="editForm.get('estado')!.invalid && (editForm.get('estado')!.dirty || editForm.get('estado')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('estado')?.errors?.required" appTranslate="entity.validation.required">
              O campo é obrigatório.
            </small>
          </div>
        </div>

        <div class="mb-3">
          <label appTranslate="longonkeloApp.matricula.categoriasMatriculas" for="field_categoriasMatriculas">Categorias Matriculas</label>
          <ng-select
            id="field_categoriasMatriculas"
            data-cy="categoriasMatriculas"
            [multiple]="true"
            name="categoriasMatriculas"
            formControlName="categoriasMatriculas"
            [compareWith]="comparePlanoDesconto"
          >
            <ng-option [value]="planoDescontoOption" *ngFor="let planoDescontoOption of planoDescontosSharedCollection">
              {{ planoDescontoOption.nome }}
            </ng-option>
          </ng-select>
        </div>

        <div class="mb-3">
          <label class="form-label" appTranslate="longonkeloApp.matricula.numeroChamada" for="field_numeroChamada">Numero Chamada</label>
          <input
            type="number"
            class="form-control"
            name="numeroChamada"
            id="field_numeroChamada"
            data-cy="numeroChamada"
            formControlName="numeroChamada"
          />
          <div
            *ngIf="
              editForm.get('numeroChamada')!.invalid && (editForm.get('numeroChamada')!.dirty || editForm.get('numeroChamada')!.touched)
            "
          >
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('numeroChamada')?.errors?.min"
              appTranslate="entity.validation.min"
              [translateValues]="{ min: 0 }"
            >
              Este campo deve ser maior que 0.
            </small>
            <small
              class="form-text text-danger"
              [hidden]="!editForm.get('numeroChamada')?.errors?.number"
              appTranslate="entity.validation.number"
            >
              Este campo é do tipo número.
            </small>
          </div>
        </div>
        <!-- <div class=" mb-3">
          <label class="form-label" appTranslate="longonkeloApp.matricula.timestamp" for="field_timestamp">Timestamp</label>
          <div class="d-flex">
            <input
              id="field_timestamp"
              data-cy="timestamp"
              type="datetime-local"
              class="form-control"
              name="timestamp"
              formControlName="timestamp"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div> -->

        <div class="mb-3">
          <label class="form-label" appTranslate="longonkeloApp.matricula.termosCompromissos" for="field_termosCompromissos"
            >Termos Compromissos</label
          >
          <div>
            <div *ngIf="editForm.get('termosCompromissos')!.value" class="form-text text-danger clearfix">
              <a
                class="pull-start"
                (click)="openFile(editForm.get('termosCompromissos')!.value!, editForm.get('termosCompromissosContentType')!.value!)"
                appTranslate="entity.action.open"
                >Abrir</a
              ><br />
              <span class="pull-start"
                >{{ editForm.get('termosCompromissosContentType')!.value }},
                {{ byteSize(editForm.get('termosCompromissos')!.value!) }}</span
              >
              <button
                type="button"
                (click)="editForm.patchValue({ termosCompromissos: undefined, termosCompromissosContentType: undefined })"
                class="btn btn-secondary btn-xs pull-end"
              >
                <fa-icon icon="times"></fa-icon>
              </button>
            </div>
            <input
              type="file"
              id="file_termosCompromissos"
              data-cy="termosCompromissos"
              (change)="setFileData($event, 'termosCompromissos', false)"
              appTranslate="entity.action.addblob"
            />
          </div>
          <input
            type="hidden"
            class="form-control"
            name="termosCompromissos"
            id="field_termosCompromissos"
            data-cy="termosCompromissos"
            formControlName="termosCompromissos"
          />
          <input
            type="hidden"
            class="form-control"
            name="termosCompromissosContentType"
            id="field_termosCompromissosContentType"
            formControlName="termosCompromissosContentType"
          />
        </div>

        <div class="mb-3">
          <input
            type="checkbox"
            class="form-check-input"
            name="isAceiteTermosCompromisso"
            id="field_isAceiteTermosCompromisso"
            data-cy="isAceiteTermosCompromisso"
            formControlName="isAceiteTermosCompromisso"
          />
          <span
            class="form-check-label"
            appTranslate="longonkeloApp.matricula.isAceiteTermosCompromisso"
            for="field_isAceiteTermosCompromisso"
            >Is Aceite Termos Compromisso</span
          >
        </div>

        <div class="mb-3">
          <label class="form-label" appTranslate="longonkeloApp.matricula.descricao" for="field_descricao">Descricao</label>
          <textarea class="form-control" name="descricao" id="field_descricao" data-cy="descricao" formControlName="descricao"></textarea>
        </div>

        <!-- <div class=" mb-3">
          <label class="form-label" appTranslate="longonkeloApp.matricula.utilizador" for="field_utilizador">Utilizador</label>
          <select
            class="form-control"
            id="field_utilizador"
            data-cy="utilizador"
            name="utilizador"
            formControlName="utilizador"
            [compareWith]="compareUser"
          >
            <option [ngValue]="null"></option>
            <option [ngValue]="userOption" *ngFor="let userOption of usersSharedCollection">{{ userOption.login }}</option>
          </select>
        </div> -->
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span appTranslate="entity.action.cancel">Cancelar</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span appTranslate="entity.action.save">Guardar</span>
        </button>
      </div>
    </form>
  </div>
</div>
