<div>
  <h2 id="page-heading" data-cy="MeioPagamentoHeading">
    <span appTranslate="longonkeloApp.meioPagamento.home.title">Meio Pagamentos</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span appTranslate="longonkeloApp.meioPagamento.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-meio-pagamento"
        [routerLink]="['/meio-pagamento/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span appTranslate="longonkeloApp.meioPagamento.home.createLabel"> Criar novo(a) Meio Pagamento </span>
      </button>
    </div>
  </h2>

  <app-alert-error></app-alert-error>

  <app-alert></app-alert>

  <app-filter [filters]="filters"></app-filter>

  <div class="alert alert-warning" id="no-result" *ngIf="meioPagamentos?.length === 0">
    <span appTranslate="longonkeloApp.meioPagamento.home.notFound">Nenhum Meio Pagamentos encontrado</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="meioPagamentos && meioPagamentos.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr appSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" appSortBy="id">
            <div class="d-flex">
              <span appTranslate="global.field.id">Código</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" appSortBy="imagem">
            <div class="d-flex">
              <span appTranslate="longonkeloApp.meioPagamento.imagem">Imagem</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" appSortBy="codigo">
            <div class="d-flex">
              <span appTranslate="longonkeloApp.meioPagamento.codigo">Codigo</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" appSortBy="nome">
            <div class="d-flex">
              <span appTranslate="longonkeloApp.meioPagamento.nome">Nome</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" appSortBy="numeroDigitoReferencia">
            <div class="d-flex">
              <span appTranslate="longonkeloApp.meioPagamento.numeroDigitoReferencia">Numero Digito Referencia</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" appSortBy="isPagamentoInstantanio">
            <div class="d-flex">
              <span appTranslate="longonkeloApp.meioPagamento.isPagamentoInstantanio">Is Pagamento Instantanio</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" appSortBy="hash">
            <div class="d-flex">
              <span appTranslate="longonkeloApp.meioPagamento.hash">Hash</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" appSortBy="link">
            <div class="d-flex">
              <span appTranslate="longonkeloApp.meioPagamento.link">Link</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" appSortBy="token">
            <div class="d-flex">
              <span appTranslate="longonkeloApp.meioPagamento.token">Token</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" appSortBy="username">
            <div class="d-flex">
              <span appTranslate="longonkeloApp.meioPagamento.username">Username</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" appSortBy="password">
            <div class="d-flex">
              <span appTranslate="longonkeloApp.meioPagamento.password">Password</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" appSortBy="formatoReferencia">
            <div class="d-flex">
              <span appTranslate="longonkeloApp.meioPagamento.formatoReferencia">Formato Referencia</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let meioPagamento of meioPagamentos; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/meio-pagamento', meioPagamento.id, 'view']">{{ meioPagamento.id }}</a>
          </td>
          <td>
            <a *ngIf="meioPagamento.imagem" (click)="openFile(meioPagamento.imagem, meioPagamento.imagemContentType)">
              <img
                [src]="'data:' + meioPagamento.imagemContentType + ';base64,' + meioPagamento.imagem"
                style="max-height: 30px"
                alt="meioPagamento image"
              />
            </a>
            <span *ngIf="meioPagamento.imagem">{{ meioPagamento.imagemContentType }}, {{ byteSize(meioPagamento.imagem) }}</span>
          </td>
          <td>{{ meioPagamento.codigo }}</td>
          <td>{{ meioPagamento.nome }}</td>
          <td>{{ meioPagamento.numeroDigitoReferencia }}</td>
          <td>{{ meioPagamento.isPagamentoInstantanio }}</td>
          <td>{{ meioPagamento.hash }}</td>
          <td>{{ meioPagamento.link }}</td>
          <td>{{ meioPagamento.token }}</td>
          <td>{{ meioPagamento.username }}</td>
          <td>{{ meioPagamento.password }}</td>
          <td>{{ meioPagamento.formatoReferencia }}</td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/transacao']"
                [queryParams]="{ 'filter[meioPagamentoId.in]': meioPagamento.id }"
                class="btn btn-info btn-sm"
                data-cy="filterOtherEntityButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span
                  class="d-none d-md-inline"
                  appTranslate="entity.action.show"
                  [translateValues]="{ otherEntity: ('longonkeloApp.meioPagamento.transacao' | translate) }"
                  >Show Transacao</span
                >
              </button>
              <button
                type="submit"
                [routerLink]="['/meio-pagamento', meioPagamento.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" appTranslate="entity.action.view">Visualizar</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/meio-pagamento', meioPagamento.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" appTranslate="entity.action.edit">Editar</span>
              </button>

              <button type="submit" (click)="delete(meioPagamento)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" appTranslate="entity.action.delete">Eliminar</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="meioPagamentos && meioPagamentos.length > 0">
    <div class="d-flex justify-content-center">
      <app-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></app-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [page]="page"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="navigateToPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
