<div>
  <div class="d-flex justify-content-center">
    <div class="col-md-8">
      <h1 appTranslate="activate.title">Ativação</h1>

      <div class="alert alert-success" *ngIf="success">
        <span appTranslate="activate.messages.success"><strong>Utilizador ativado com sucesso.</strong> Por favor </span>
        <a class="alert-link" routerLink="/login" appTranslate="global.messages.info.authenticated.link">entrar</a>.
      </div>

      <div class="alert alert-danger" *ngIf="error" appTranslate="activate.messages.error">
        <strong>O utilizador não pode ser ativado.</strong> Por favor utilize o formulário de registo para criar uma nova conta.
      </div>
    </div>
  </div>
</div>
