<div>
  <h2 id="page-heading" data-cy="LongonkeloHistoricoHeading">
    <span appTranslate="longonkeloApp.longonkeloHistorico.home.title">Longonkelo Historicos</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span appTranslate="longonkeloApp.longonkeloHistorico.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-longonkelo-historico"
        [routerLink]="['/longonkelo-historico/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span appTranslate="longonkeloApp.longonkeloHistorico.home.createLabel"> Criar novo(a) Longonkelo Historico </span>
      </button>
    </div>
  </h2>

  <app-alert-error></app-alert-error>

  <app-alert></app-alert>

  <app-filter [filters]="filters"></app-filter>

  <div class="alert alert-warning" id="no-result" *ngIf="longonkeloHistoricos?.length === 0">
    <span appTranslate="longonkeloApp.longonkeloHistorico.home.notFound">Nenhum Longonkelo Historicos encontrado</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="longonkeloHistoricos && longonkeloHistoricos.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr appSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" appSortBy="id">
            <div class="d-flex">
              <span appTranslate="global.field.id">Código</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" appSortBy="operacao">
            <div class="d-flex">
              <span appTranslate="longonkeloApp.longonkeloHistorico.operacao">Operacao</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" appSortBy="entidadeNome">
            <div class="d-flex">
              <span appTranslate="longonkeloApp.longonkeloHistorico.entidadeNome">Entidade Nome</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" appSortBy="entidadeCodigo">
            <div class="d-flex">
              <span appTranslate="longonkeloApp.longonkeloHistorico.entidadeCodigo">Entidade Codigo</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" appSortBy="payload">
            <div class="d-flex">
              <span appTranslate="longonkeloApp.longonkeloHistorico.payload">Payload</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" appSortBy="host">
            <div class="d-flex">
              <span appTranslate="longonkeloApp.longonkeloHistorico.host">Host</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" appSortBy="hash">
            <div class="d-flex">
              <span appTranslate="longonkeloApp.longonkeloHistorico.hash">Hash</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" appSortBy="timestamp">
            <div class="d-flex">
              <span appTranslate="longonkeloApp.longonkeloHistorico.timestamp">Timestamp</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" appSortBy="utilizador.login">
            <div class="d-flex">
              <span appTranslate="longonkeloApp.longonkeloHistorico.utilizador">Utilizador</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let longonkeloHistorico of longonkeloHistoricos; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/longonkelo-historico', longonkeloHistorico.id, 'view']">{{ longonkeloHistorico.id }}</a>
          </td>
          <td>{{ longonkeloHistorico.operacao }}</td>
          <td>{{ longonkeloHistorico.entidadeNome }}</td>
          <td>{{ longonkeloHistorico.entidadeCodigo }}</td>
          <td>{{ longonkeloHistorico.payload }}</td>
          <td>{{ longonkeloHistorico.host }}</td>
          <td>{{ longonkeloHistorico.hash }}</td>
          <td>{{ longonkeloHistorico.timestamp | formatMediumDatetime }}</td>
          <td>
            {{ longonkeloHistorico.utilizador?.login }}
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/longonkelo-historico', longonkeloHistorico.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" appTranslate="entity.action.view">Visualizar</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/longonkelo-historico', longonkeloHistorico.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" appTranslate="entity.action.edit">Editar</span>
              </button>

              <button type="submit" (click)="delete(longonkeloHistorico)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" appTranslate="entity.action.delete">Eliminar</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="longonkeloHistoricos && longonkeloHistoricos.length > 0">
    <div class="d-flex justify-content-center">
      <app-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></app-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [page]="page"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="navigateToPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
