<div class="row">
  <div class="col-md-5">
    <span class="hipster img-fluid rounded"></span>
    <!-- <img src="../../content/images/Longokelo.png" height="800px" width="1024px" /> -->
  </div>

  <div class="col-md-6">
    <h1><span appTranslate="home.title">Bem-vindo, Java Hipster!</span></h1>

    <!-- <p class="lead" appTranslate="home.subtitle">Esta é a página principal</p> -->

    <div class="mt-4" [ngSwitch]="account !== null">
      <div class="alert alert-success" *ngSwitchCase="true">
        <span id="home-logged-message" *ngIf="account" appTranslate="home.logged.message" [translateValues]="{ username: account.login }"
          >Está autenticado como "{{ account.login }}".</span
        >
      </div>

      <div class="alert alert-warning" *ngSwitchCase="false">
        <span appTranslate="global.messages.info.authenticated.prefix">Para </span>
        <button class="btn alert-link" (click)="login()">Entrar na instituição</button>
        <span
          >, como demostração utilize as seguintes contas:<br />
          - Director (utilizador="director" e palavra-passe="director") <br />
          - Docente (utilizador="docente" e palavra-passe="docente") <br />
          - Encarregado (utilizador="encarregado" e palavra-passe="encarregado") <br />
          - Estudante (Estudante="estudante" e palavra-passe="estudante"). <br />
        </span>
      </div>

      <div *ngSwitchCase="false">
        <h3 appTranslate="global.messages.info.register.noaccount">Ainda não tem uma conta?</h3>
        &nbsp;
        <div>
          <button class="btn btn-lg btn-primary mb-2" routerLink="account/register" [queryParams]="{ tipo: 'R' }">
            Crie uma nova conta como Pai ou Encarregado de educação
          </button>
        </div>
        <div>
          <button class="btn btn-lg btn-success mb-2" routerLink="account/register" [queryParams]="{ tipo: 'E' }">
            Crie uma nova conta como Estudante
          </button>
        </div>
        <div>
          <button class="btn btn-lg btn-warning mb-2" routerLink="account/register" [queryParams]="{ tipo: 'P' }">
            Crie uma nova conta como Docente
          </button>
        </div>
      </div>
    </div>

    <!-- <p>Contactos de Apoio e Suporte</p>

    <ul>
      <li>
        <a href="https://www.ravunana.com/" target="_blank" rel="noopener noreferrer" appTranslate="home.link.homepage"
          >Página da Ravunanar</a
        >
      </li>
      <li>
        <a
          href="https://stackoverflow.com/tags/jhipster/info"
          target="_blank"
          rel="noopener noreferrer"
          appTranslate="home.link.stackoverflow"
          >JHipster no Stack Overflow</a
        >
      </li>
      <li>
        <a
          href="https://github.com/jhipster/generator-jhipster/issues?state=open"
          target="_blank"
          rel="noopener noreferrer"
          appTranslate="home.link.bugtracker"
          >Bug's do JHipster</a
        >
      </li>
      <li>
        <a href="https://gitter.im/jhipster/generator-jhipster" target="_blank" rel="noopener noreferrer" appTranslate="home.link.chat"
          >Chat público do JHipster</a
        >
      </li>
      <li>
        <a href="https://twitter.com/jhipster" target="_blank" rel="noopener noreferrer" appTranslate="home.link.follow"
          >931 926436r</a
        >
      </li>
    </ul>

    <p>
      <span appTranslate="home.like">Se gosta do JHipster, não se esqueça de avaliar no</span>
      <a href="https://github.com/jhipster/generator-jhipster" target="_blank" rel="noopener noreferrer" appTranslate="home.github"
        >GitHub</a
      >!
    </p> -->
  </div>
</div>
