/* ==========================================================================
Main page styles
========================================================================== */

.hipster {
  display: inline-block;
  width: 100%;
  height: 100%;
  background: url('../../content/images/Longokelo.png') no-repeat center top;
  background-size: contain;
}

/* wait autoprefixer update to allow simple generation of high pixel density media query */
@media only screen and (-webkit-min-device-pixel-ratio: 2),
  only screen and (-moz-min-device-pixel-ratio: 2),
  only screen and (-o-min-device-pixel-ratio: 2/1),
  only screen and (min-resolution: 192dpi),
  only screen and (min-resolution: 2dppx) {
  .hipster {
    background: url('../../content/images/Longokelo.png') no-repeat center top;
    background-size: contain;
  }
}

.order-card {
  color: #fff;
}

.bg-c-blue {
  background: linear-gradient(135deg, #1e90ff, #0a0f5b);
}

.bg-c-green {
  background: linear-gradient(135deg, #2ed8b6, #59e0c5);
}

.bg-c-yellow {
  background: linear-gradient(135deg, #ffd700, #ffc000);
}

.bg-c-pink {
  background: linear-gradient(135deg, #ff5370, #ff869a);
}

.card {
  border-radius: 16px;
  -webkit-box-shadow: 0 8px 32px rgba(10, 15, 91, 0.1);
  box-shadow: 0 8px 32px rgba(10, 15, 91, 0.1);
  border: none;
  margin-bottom: 30px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.card .card-block {
  padding: 25px;
}

.order-card i {
  font-size: 26px;
}

.f-left {
  float: left;
}

.f-right {
  float: right;
}

.text-bold {
  font-weight: bolder;
}
