<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="app-turma-heading" data-cy="TurmaCreateUpdateHeading" appTranslate="longonkeloApp.turma.home.createOrEditLabel">
        Criar ou editar Turma
      </h2>

      <div>
        <app-alert-error></app-alert-error>

        <div class="mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" appTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="mb-3">
          <label class="form-label" appTranslate="longonkeloApp.turma.referencia" for="field_referencia">Referencia</label>
          <ng-select
            id="field_referencia"
            data-cy="referencia"
            name="referencia"
            formControlName="referencia"
            [compareWith]="compareTurma"
            (change)="onSelectReferencia(editForm.get(['referencia'])!.value.id)"
          >
            <ng-option [value]="null"></ng-option>
            <ng-option [value]="turmaOption" *ngFor="let turmaOption of turmasSharedCollection">{{ turmaOption.descricao }}</ng-option>
          </ng-select>
        </div>

        <div class="mb-3">
          <label class="form-label" appTranslate="longonkeloApp.turma.planoCurricular" for="field_planoCurricular">Plano Curricular</label>
          <ng-select
            id="field_planoCurricular"
            data-cy="planoCurricular"
            name="planoCurricular"
            formControlName="planoCurricular"
            [compareWith]="comparePlanoCurricular"
          >
            <ng-option *ngIf="editForm.get(['planoCurricular'])!.value == null" [value]="null" selected></ng-option>
            <ng-option [value]="planoCurricularOption" *ngFor="let planoCurricularOption of planoCurricularsSharedCollection">
              {{ planoCurricularOption.descricao }}
            </ng-option>
          </ng-select>
          <div
            *ngIf="
              editForm.get(['planoCurricular'])!.invalid &&
              (editForm.get(['planoCurricular'])!.dirty || editForm.get(['planoCurricular'])!.touched)
            "
          >
            <small
              class="form-text text-danger"
              *ngIf="editForm.get(['planoCurricular'])?.errors?.required"
              appTranslate="entity.validation.required"
            >
              O campo é obrigatório.
            </small>
          </div>
        </div>

        <div class="row">
          <div class="col mb-3">
            <label class="form-label" appTranslate="longonkeloApp.turma.tipoTurma" for="field_tipoTurma">Tipo Turma</label>
            <select class="form-control" name="tipoTurma" formControlName="tipoTurma" id="field_tipoTurma" data-cy="tipoTurma">
              <option [ngValue]="null">{{ 'longonkeloApp.TipoTurma.null' | translate }}</option>
              <option *ngFor="let tipoTurma of tipoTurmaValues" [value]="tipoTurma">
                {{ 'longonkeloApp.TipoTurma.' + tipoTurma | translate }}
              </option>
            </select>
            <div *ngIf="editForm.get('tipoTurma')!.invalid && (editForm.get('tipoTurma')!.dirty || editForm.get('tipoTurma')!.touched)">
              <small
                class="form-text text-danger"
                *ngIf="editForm.get('tipoTurma')?.errors?.required"
                appTranslate="entity.validation.required"
              >
                O campo é obrigatório.
              </small>
            </div>
          </div>

          <div class="col mb-3">
            <label class="form-label" appTranslate="longonkeloApp.turma.turno" for="field_turno">Turno</label>
            <select class="form-control" id="field_turno" data-cy="turno" name="turno" formControlName="turno" [compareWith]="compareTurno">
              <option *ngIf="editForm.get(['turno'])!.value == null" [ngValue]="null" selected></option>
              <option [ngValue]="turnoOption" *ngFor="let turnoOption of turnosSharedCollection">{{ turnoOption.nome }}</option>
            </select>
            <div *ngIf="editForm.get(['turno'])!.invalid && (editForm.get(['turno'])!.dirty || editForm.get(['turno'])!.touched)">
              <small
                class="form-text text-danger"
                *ngIf="editForm.get(['turno'])?.errors?.required"
                appTranslate="entity.validation.required"
              >
                O campo é obrigatório.
              </small>
            </div>
          </div>

          <div class="col mb-3">
            <label class="form-label" appTranslate="longonkeloApp.turma.sala" for="field_sala">Sala</label>
            <input type="number" class="form-control" name="sala" id="field_sala" data-cy="sala" formControlName="sala" />
            <div *ngIf="editForm.get('sala')!.invalid && (editForm.get('sala')!.dirty || editForm.get('sala')!.touched)">
              <small class="form-text text-danger" *ngIf="editForm.get('sala')?.errors?.required" appTranslate="entity.validation.required">
                O campo é obrigatório.
              </small>
              <small
                class="form-text text-danger"
                *ngIf="editForm.get('sala')?.errors?.min"
                appTranslate="entity.validation.min"
                [translateValues]="{ min: 1 }"
              >
                Este campo deve ser maior que 1.
              </small>
              <small class="form-text text-danger" [hidden]="!editForm.get('sala')?.errors?.number" appTranslate="entity.validation.number">
                Este campo é do tipo número.
              </small>
            </div>
          </div>

          <div class="col mb-3">
            <label class="form-label" appTranslate="longonkeloApp.turma.lotacao" for="field_lotacao">Lotacao</label>
            <input type="number" class="form-control" name="lotacao" id="field_lotacao" data-cy="lotacao" formControlName="lotacao" />
            <div *ngIf="editForm.get('lotacao')!.invalid && (editForm.get('lotacao')!.dirty || editForm.get('lotacao')!.touched)">
              <small
                class="form-text text-danger"
                *ngIf="editForm.get('lotacao')?.errors?.required"
                appTranslate="entity.validation.required"
              >
                O campo é obrigatório.
              </small>
              <small
                class="form-text text-danger"
                *ngIf="editForm.get('lotacao')?.errors?.min"
                appTranslate="entity.validation.min"
                [translateValues]="{ min: 1 }"
              >
                Este campo deve ser maior que 1.
              </small>
              <small
                class="form-text text-danger"
                [hidden]="!editForm.get('lotacao')?.errors?.number"
                appTranslate="entity.validation.number"
              >
                Este campo é do tipo número.
              </small>
            </div>
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label" appTranslate="longonkeloApp.turma.descricao" for="field_descricao">Descricao</label>
          <input type="text" class="form-control" name="descricao" id="field_descricao" data-cy="descricao" formControlName="descricao" />
          <div *ngIf="editForm.get('descricao')!.invalid && (editForm.get('descricao')!.dirty || editForm.get('descricao')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('descricao')?.errors?.required"
              appTranslate="entity.validation.required"
            >
              O campo é obrigatório.
            </small>
          </div>
        </div>

        <!-- <div class=" mb-3">
          <label class="form-label" appTranslate="longonkeloApp.turma.confirmado" for="field_confirmado">Confirmado</label>
          <input
            type="number"
            class="form-control"
            name="confirmado"
            id="field_confirmado"
            data-cy="confirmado"
            formControlName="confirmado"
          />
          <div *ngIf="editForm.get('confirmado')!.invalid && (editForm.get('confirmado')!.dirty || editForm.get('confirmado')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('confirmado')?.errors?.required"
              appTranslate="entity.validation.required"
            >
              O campo é obrigatório.
            </small>
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('confirmado')?.errors?.min"
              appTranslate="entity.validation.min"
              [translateValues]="{ min: 0 }"
            >
              Este campo deve ser maior que 0.
            </small>
            <small
              class="form-text text-danger"
              [hidden]="!editForm.get('confirmado')?.errors?.number"
              appTranslate="entity.validation.number"
            >
              Este campo é do tipo número.
            </small>
          </div>
        </div> -->

        <div class="row">
          <div class="col mb-3">
            <label class="form-label" appTranslate="longonkeloApp.turma.abertura" for="field_abertura">Abertura</label>
            <div class="input-group">
              <input
                id="field_abertura"
                data-cy="abertura"
                type="text"
                class="form-control"
                name="abertura"
                ngbDatepicker
                #aberturaDp="ngbDatepicker"
                formControlName="abertura"
              />
              <button type="button" class="btn btn-secondary" (click)="aberturaDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
            </div>
          </div>

          <div class="col mb-3">
            <label class="form-label" appTranslate="longonkeloApp.turma.encerramento" for="field_encerramento">Encerramento</label>
            <div class="input-group">
              <input
                id="field_encerramento"
                data-cy="encerramento"
                type="text"
                class="form-control"
                name="encerramento"
                ngbDatepicker
                #encerramentoDp="ngbDatepicker"
                formControlName="encerramento"
              />
              <button type="button" class="btn btn-secondary" (click)="encerramentoDp.toggle()">
                <fa-icon icon="calendar-alt"></fa-icon>
              </button>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col mb-3">
            <label class="form-label" appTranslate="longonkeloApp.turma.criterioDescricao" for="field_criterioDescricao"
              >Criterio Descricao</label
            >
            <select
              class="form-control"
              name="criterioDescricao"
              formControlName="criterioDescricao"
              id="field_criterioDescricao"
              data-cy="criterioDescricao"
            >
              <option [ngValue]="null">{{ 'longonkeloApp.CriterioDescricaoTurma.null' | translate }}</option>
              <option *ngFor="let criterioDescricaoTurma of criterioDescricaoTurmaValues" [value]="criterioDescricaoTurma">
                {{ 'longonkeloApp.CriterioDescricaoTurma.' + criterioDescricaoTurma | translate }}
              </option>
            </select>
          </div>

          <div class="col mb-3">
            <label class="form-label" appTranslate="longonkeloApp.turma.criterioOrdenacaoNumero" for="field_criterioOrdenacaoNumero"
              >Criterio Ordenacao Numero</label
            >
            <select
              class="form-control"
              name="criterioOrdenacaoNumero"
              formControlName="criterioOrdenacaoNumero"
              id="field_criterioOrdenacaoNumero"
              data-cy="criterioOrdenacaoNumero"
            >
              <option [ngValue]="null">{{ 'longonkeloApp.CriterioNumeroChamada.null' | translate }}</option>
              <option *ngFor="let criterioNumeroChamada of criterioNumeroChamadaValues" [value]="criterioNumeroChamada">
                {{ 'longonkeloApp.CriterioNumeroChamada.' + criterioNumeroChamada | translate }}
              </option>
            </select>
          </div>
        </div>

        <div class="mb-3">
          <input
            type="checkbox"
            class="form-check-input"
            name="fazInscricaoDepoisMatricula"
            id="field_fazInscricaoDepoisMatricula"
            data-cy="fazInscricaoDepoisMatricula"
            formControlName="fazInscricaoDepoisMatricula"
          />
          <span
            class="form-check-label"
            appTranslate="longonkeloApp.turma.fazInscricaoDepoisMatricula"
            for="field_fazInscricaoDepoisMatricula"
            >Faz Inscricao Depois Matricula</span
          >
        </div>

        <div class="mb-3">
          <input
            type="checkbox"
            class="form-check-input"
            name="isDisponivel"
            id="field_isDisponivel"
            data-cy="isDisponivel"
            formControlName="isDisponivel"
          />
          <span class="form-check-label" appTranslate="longonkeloApp.turma.isDisponivel" for="field_isDisponivel">Is Disponivel</span>
        </div>

        <!-- <div class=" mb-3">
          <label class="form-label" appTranslate="longonkeloApp.turma.utilizador" for="field_utilizador">Utilizador</label>
          <select
            class="form-control"
            id="field_utilizador"
            data-cy="utilizador"
            name="utilizador"
            formControlName="utilizador"
            [compareWith]="compareUser"
          >
            <option [ngValue]="null"></option>
            <option [ngValue]="userOption" *ngFor="let userOption of usersSharedCollection">{{ userOption.login }}</option>
          </select>
        </div> -->
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span appTranslate="entity.action.cancel">Cancelar</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span appTranslate="entity.action.save">Guardar</span>
        </button>
      </div>
    </form>
  </div>
</div>
