<div>
  <h2 id="page-heading" data-cy="DetalhePlanoAulaHeading">
    <span appTranslate="longonkeloApp.detalhePlanoAula.home.title">Detalhe Plano Aulas</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span appTranslate="longonkeloApp.detalhePlanoAula.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-detalhe-plano-aula"
        [routerLink]="['/detalhe-plano-aula/new']"
        [queryParams]="{ plano_aula_id: planoAulaID }"
      >
        <fa-icon icon="plus"></fa-icon>
        <span appTranslate="longonkeloApp.detalhePlanoAula.home.createLabel"> Criar novo(a) Detalhe Plano Aula </span>
      </button>
    </div>
  </h2>

  <app-alert-error></app-alert-error>

  <app-alert></app-alert>

  <app-filter [filters]="filters"></app-filter>

  <div class="alert alert-warning" id="no-result" *ngIf="detalhePlanoAulas?.length === 0">
    <span appTranslate="longonkeloApp.detalhePlanoAula.home.notFound">Nenhum Detalhe Plano Aulas encontrado</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="detalhePlanoAulas && detalhePlanoAulas.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr appSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <!-- <th scope="col" appSortBy="id">
            <div class="d-flex">
              <span appTranslate="global.field.id">Código</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th> -->
          <!-- <th scope="col" appSortBy="estrategiaAula">
            <div class="d-flex">
              <span appTranslate="longonkeloApp.detalhePlanoAula.estrategiaAula">Estrategia Aula</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th> -->
          <th scope="col" appSortBy="tituloActividade">
            <div class="d-flex">
              <span appTranslate="longonkeloApp.detalhePlanoAula.tituloActividade">Titulo Actividade</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" appSortBy="tempoActividade">
            <div class="d-flex">
              <span appTranslate="longonkeloApp.detalhePlanoAula.tempoActividade">Tempo Actividade</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" appSortBy="recursosEnsino">
            <div class="d-flex">
              <span appTranslate="longonkeloApp.detalhePlanoAula.recursosEnsino">Recursos Ensino</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" appSortBy="actividadesDocente">
            <div class="d-flex">
              <span appTranslate="longonkeloApp.detalhePlanoAula.actividadesDocente">Actividades Docente</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" appSortBy="actividadesDiscentes">
            <div class="d-flex">
              <span appTranslate="longonkeloApp.detalhePlanoAula.actividadesDiscentes">Actividades Discentes</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <!-- <th scope="col" appSortBy="avaliacao">
            <div class="d-flex">
              <span appTranslate="longonkeloApp.detalhePlanoAula.avaliacao">Avaliacao</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th> -->
          <!-- <th scope="col" appSortBy="bibliografia">
            <div class="d-flex">
              <span appTranslate="longonkeloApp.detalhePlanoAula.bibliografia">Bibliografia</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th> -->
          <!-- <th scope="col" appSortBy="observacao">
            <div class="d-flex">
              <span appTranslate="longonkeloApp.detalhePlanoAula.observacao">Observacao</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" appSortBy="pdf">
            <div class="d-flex">
              <span appTranslate="longonkeloApp.detalhePlanoAula.pdf">Pdf</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" appSortBy="video">
            <div class="d-flex">
              <span appTranslate="longonkeloApp.detalhePlanoAula.video">Video</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" appSortBy="audio">
            <div class="d-flex">
              <span appTranslate="longonkeloApp.detalhePlanoAula.audio">Audio</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" appSortBy="planoAula.assunto">
            <div class="d-flex">
              <span appTranslate="longonkeloApp.detalhePlanoAula.planoAula">Plano Aula</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th> -->
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let detalhePlanoAula of detalhePlanoAulas; trackBy: trackId" data-cy="entityTable">
          <!-- <td>
            <a [routerLink]="['/detalhe-plano-aula', detalhePlanoAula.id, 'view']">{{ detalhePlanoAula.id }}</a>
          </td> -->
          <td>{{ detalhePlanoAula.tituloActividade }}</td>
          <!-- <td>{{ detalhePlanoAula.estrategiaAula }}</td> -->
          <td>{{ detalhePlanoAula.tempoActividade | number }} minutos</td>
          <td>{{ detalhePlanoAula.recursosEnsino }}</td>
          <td>{{ detalhePlanoAula.actividadesDocente }}</td>
          <td>{{ detalhePlanoAula.actividadesDiscentes }}</td>
          <!-- <td>{{ detalhePlanoAula.avaliacao }}</td>
          <td>{{ detalhePlanoAula.bibliografia }}</td>
          <td>{{ detalhePlanoAula.observacao }}</td>
          <td>
            <a
              *ngIf="detalhePlanoAula.pdf"
              (click)="openFile(detalhePlanoAula.pdf, detalhePlanoAula.pdfContentType)"
              appTranslate="entity.action.open"
              >Abrir</a
            >
            <span *ngIf="detalhePlanoAula.pdf">{{ detalhePlanoAula.pdfContentType }}, {{ byteSize(detalhePlanoAula.pdf) }}</span>
          </td>
          <td>
            <a
              *ngIf="detalhePlanoAula.video"
              (click)="openFile(detalhePlanoAula.video, detalhePlanoAula.videoContentType)"
              appTranslate="entity.action.open"
              >Abrir</a
            >
            <span *ngIf="detalhePlanoAula.video">{{ detalhePlanoAula.videoContentType }}, {{ byteSize(detalhePlanoAula.video) }}</span>
          </td>
          <td>
            <a
              *ngIf="detalhePlanoAula.audio"
              (click)="openFile(detalhePlanoAula.audio, detalhePlanoAula.audioContentType)"
              appTranslate="entity.action.open"
              >Abrir</a
            >
            <span *ngIf="detalhePlanoAula.audio">{{ detalhePlanoAula.audioContentType }}, {{ byteSize(detalhePlanoAula.audio) }}</span>
          </td>
          <td>
            <div *ngIf="detalhePlanoAula.planoAula">
              <a [routerLink]="['/plano-aula', detalhePlanoAula.planoAula.id, 'view']">{{ detalhePlanoAula.planoAula.assunto }}</a>
            </div>
          </td> -->
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/detalhe-plano-aula', detalhePlanoAula.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" appTranslate="entity.action.view">Visualizar</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/detalhe-plano-aula', detalhePlanoAula.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" appTranslate="entity.action.edit">Editar</span>
              </button>

              <button type="submit" (click)="delete(detalhePlanoAula)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" appTranslate="entity.action.delete">Eliminar</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <!-- <div *ngIf="detalhePlanoAulas && detalhePlanoAulas.length > 0">
    <div class="d-flex justify-content-center">
      <app-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></app-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [page]="page"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="navigateToPage($event)"
      ></ngb-pagination>
    </div>
  </div> -->
</div>
