<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="app-ocorrencia-heading"
        data-cy="OcorrenciaCreateUpdateHeading"
        appTranslate="longonkeloApp.ocorrencia.home.createOrEditLabel"
      >
        Criar ou editar Ocorrencia
      </h2>

      <div>
        <app-alert-error></app-alert-error>

        <div class="row mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" appTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" appTranslate="longonkeloApp.ocorrencia.uniqueOcorrencia" for="field_uniqueOcorrencia"
            >Unique Ocorrencia</label
          >
          <input
            type="text"
            class="form-control"
            name="uniqueOcorrencia"
            id="field_uniqueOcorrencia"
            data-cy="uniqueOcorrencia"
            formControlName="uniqueOcorrencia"
          />
          <div
            *ngIf="
              editForm.get('uniqueOcorrencia')!.invalid &&
              (editForm.get('uniqueOcorrencia')!.dirty || editForm.get('uniqueOcorrencia')!.touched)
            "
          ></div>
        </div>

        <div class="row mb-3">
          <label class="form-label" appTranslate="longonkeloApp.ocorrencia.descricao" for="field_descricao">Descricao</label>
          <textarea class="form-control" name="descricao" id="field_descricao" data-cy="descricao" formControlName="descricao"></textarea>
          <div *ngIf="editForm.get('descricao')!.invalid && (editForm.get('descricao')!.dirty || editForm.get('descricao')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('descricao')?.errors?.required"
              appTranslate="entity.validation.required"
            >
              O campo é obrigatório.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" appTranslate="longonkeloApp.ocorrencia.evidencia" for="field_evidencia">Evidencia</label>
          <div>
            <div *ngIf="editForm.get('evidencia')!.value" class="form-text text-danger clearfix">
              <a
                class="pull-start"
                (click)="openFile(editForm.get('evidencia')!.value!, editForm.get('evidenciaContentType')!.value!)"
                appTranslate="entity.action.open"
                >Abrir</a
              ><br />
              <span class="pull-start"
                >{{ editForm.get('evidenciaContentType')!.value }}, {{ byteSize(editForm.get('evidencia')!.value!) }}</span
              >
              <button
                type="button"
                (click)="editForm.patchValue({ evidencia: undefined, evidenciaContentType: undefined })"
                class="btn btn-secondary btn-xs pull-end"
              >
                <fa-icon icon="times"></fa-icon>
              </button>
            </div>
            <input
              type="file"
              id="file_evidencia"
              data-cy="evidencia"
              (change)="setFileData($event, 'evidencia', false)"
              appTranslate="entity.action.addblob"
            />
          </div>
          <input type="hidden" class="form-control" name="evidencia" id="field_evidencia" data-cy="evidencia" formControlName="evidencia" />
          <input
            type="hidden"
            class="form-control"
            name="evidenciaContentType"
            id="field_evidenciaContentType"
            formControlName="evidenciaContentType"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" appTranslate="longonkeloApp.ocorrencia.hash" for="field_hash">Hash</label>
          <input type="text" class="form-control" name="hash" id="field_hash" data-cy="hash" formControlName="hash" />
        </div>

        <div class="row mb-3">
          <label class="form-label" appTranslate="longonkeloApp.ocorrencia.timestamp" for="field_timestamp">Timestamp</label>
          <div class="d-flex">
            <input
              id="field_timestamp"
              data-cy="timestamp"
              type="datetime-local"
              class="form-control"
              name="timestamp"
              formControlName="timestamp"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
          <div *ngIf="editForm.get('timestamp')!.invalid && (editForm.get('timestamp')!.dirty || editForm.get('timestamp')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('timestamp')?.errors?.required"
              appTranslate="entity.validation.required"
            >
              O campo é obrigatório.
            </small>
            <small
              class="form-text text-danger"
              [hidden]="!editForm.get('timestamp')?.errors?.datetimelocal"
              appTranslate="entity.validation.datetimelocal"
            >
              Este campo é do tipo data/hora.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" appTranslate="longonkeloApp.ocorrencia.utilizador" for="field_utilizador">Utilizador</label>
          <select
            class="form-control"
            id="field_utilizador"
            data-cy="utilizador"
            name="utilizador"
            formControlName="utilizador"
            [compareWith]="compareUser"
          >
            <option [ngValue]="null"></option>
            <option [ngValue]="userOption" *ngFor="let userOption of usersSharedCollection">{{ userOption.login }}</option>
          </select>
        </div>

        <div class="row mb-3">
          <label class="form-label" appTranslate="longonkeloApp.ocorrencia.referencia" for="field_referencia">Referencia</label>
          <select
            class="form-control"
            id="field_referencia"
            data-cy="referencia"
            name="referencia"
            formControlName="referencia"
            [compareWith]="compareOcorrencia"
          >
            <option [ngValue]="null"></option>
            <option [ngValue]="ocorrenciaOption" *ngFor="let ocorrenciaOption of ocorrenciasSharedCollection">
              {{ ocorrenciaOption.id }}
            </option>
          </select>
        </div>

        <div class="row mb-3">
          <label class="form-label" appTranslate="longonkeloApp.ocorrencia.docente" for="field_docente">Docente</label>
          <select
            class="form-control"
            id="field_docente"
            data-cy="docente"
            name="docente"
            formControlName="docente"
            [compareWith]="compareDocente"
          >
            <option *ngIf="editForm.get(['docente'])!.value == null" [ngValue]="null" selected></option>
            <option [ngValue]="docenteOption" *ngFor="let docenteOption of docentesSharedCollection">{{ docenteOption.nome }}</option>
          </select>
        </div>
        <div *ngIf="editForm.get(['docente'])!.invalid && (editForm.get(['docente'])!.dirty || editForm.get(['docente'])!.touched)">
          <small
            class="form-text text-danger"
            *ngIf="editForm.get(['docente'])?.errors?.required"
            appTranslate="entity.validation.required"
          >
            O campo é obrigatório.
          </small>
        </div>

        <div class="row mb-3">
          <label class="form-label" appTranslate="longonkeloApp.ocorrencia.matricula" for="field_matricula">Matricula</label>
          <select
            class="form-control"
            id="field_matricula"
            data-cy="matricula"
            name="matricula"
            formControlName="matricula"
            [compareWith]="compareMatricula"
          >
            <option *ngIf="editForm.get(['matricula'])!.value == null" [ngValue]="null" selected></option>
            <option [ngValue]="matriculaOption" *ngFor="let matriculaOption of matriculasSharedCollection">
              {{ matriculaOption.numeroMatricula }}
            </option>
          </select>
        </div>
        <div *ngIf="editForm.get(['matricula'])!.invalid && (editForm.get(['matricula'])!.dirty || editForm.get(['matricula'])!.touched)">
          <small
            class="form-text text-danger"
            *ngIf="editForm.get(['matricula'])?.errors?.required"
            appTranslate="entity.validation.required"
          >
            O campo é obrigatório.
          </small>
        </div>

        <div class="row mb-3">
          <label class="form-label" appTranslate="longonkeloApp.ocorrencia.estado" for="field_estado">Estado</label>
          <select
            class="form-control"
            id="field_estado"
            data-cy="estado"
            name="estado"
            formControlName="estado"
            [compareWith]="compareCategoriaOcorrencia"
          >
            <option *ngIf="editForm.get(['estado'])!.value == null" [ngValue]="null" selected></option>
            <option [ngValue]="categoriaOcorrenciaOption" *ngFor="let categoriaOcorrenciaOption of categoriaOcorrenciasSharedCollection">
              {{ categoriaOcorrenciaOption.descricao }}
            </option>
          </select>
        </div>
        <div *ngIf="editForm.get(['estado'])!.invalid && (editForm.get(['estado'])!.dirty || editForm.get(['estado'])!.touched)">
          <small class="form-text text-danger" *ngIf="editForm.get(['estado'])?.errors?.required" appTranslate="entity.validation.required">
            O campo é obrigatório.
          </small>
        </div>

        <div class="row mb-3">
          <label class="form-label" appTranslate="longonkeloApp.ocorrencia.licao" for="field_licao">Licao</label>
          <select class="form-control" id="field_licao" data-cy="licao" name="licao" formControlName="licao" [compareWith]="compareLicao">
            <option *ngIf="editForm.get(['licao'])!.value == null" [ngValue]="null" selected></option>
            <option [ngValue]="licaoOption" *ngFor="let licaoOption of licaosSharedCollection">{{ licaoOption.numero }}</option>
          </select>
        </div>
        <div *ngIf="editForm.get(['licao'])!.invalid && (editForm.get(['licao'])!.dirty || editForm.get(['licao'])!.touched)">
          <small class="form-text text-danger" *ngIf="editForm.get(['licao'])?.errors?.required" appTranslate="entity.validation.required">
            O campo é obrigatório.
          </small>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span appTranslate="entity.action.cancel">Cancelar</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span appTranslate="entity.action.save">Guardar</span>
        </button>
      </div>
    </form>
  </div>
</div>
