<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="app-plano-aula-heading" data-cy="PlanoAulaCreateUpdateHeading" appTranslate="longonkeloApp.planoAula.home.createOrEditLabel">
        Criar ou editar Plano Aula
      </h2>

      <div>
        <app-alert-error></app-alert-error>

        <div class="mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" appTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="mb-3">
          <label class="form-label" appTranslate="longonkeloApp.planoAula.turma" for="field_turma">Turma</label>
          <ng-select id="field_turma" data-cy="turma" name="turma" formControlName="turma" [compareWith]="compareTurma">
            <ng-option *ngIf="editForm.get(['turma'])!.value == null" [value]="null" selected></ng-option>
            <ng-option [value]="turmaOption" *ngFor="let turmaOption of turmasSharedCollection">{{ turmaOption.descricao }}</ng-option>
          </ng-select>
        </div>
        <div *ngIf="editForm.get(['turma'])!.invalid && (editForm.get(['turma'])!.dirty || editForm.get(['turma'])!.touched)">
          <small class="form-text text-danger" *ngIf="editForm.get(['turma'])?.errors?.required" appTranslate="entity.validation.required">
            O campo é obrigatório.
          </small>
        </div>

        <div class="mb-3">
          <label class="form-label" appTranslate="longonkeloApp.planoAula.disciplinaCurricular" for="field_disciplinaCurricular"
            >Disciplina Curricular</label
          >
          <ng-select
            id="field_disciplinaCurricular"
            data-cy="disciplinaCurricular"
            name="disciplinaCurricular"
            formControlName="disciplinaCurricular"
            [compareWith]="compareDisciplinaCurricular"
          >
            <ng-option *ngIf="editForm.get(['disciplinaCurricular'])!.value == null" [value]="null" selected></ng-option>
            <ng-option
              [value]="disciplinaCurricularOption"
              *ngFor="let disciplinaCurricularOption of disciplinaCurricularsSharedCollection"
            >
              {{ disciplinaCurricularOption.descricao }}
            </ng-option>
          </ng-select>
          <div
            *ngIf="
              editForm.get(['disciplinaCurricular'])!.invalid &&
              (editForm.get(['disciplinaCurricular'])!.dirty || editForm.get(['disciplinaCurricular'])!.touched)
            "
          >
            <small
              class="form-text text-danger"
              *ngIf="editForm.get(['disciplinaCurricular'])?.errors?.required"
              appTranslate="entity.validation.required"
            >
              O campo é obrigatório.
            </small>
          </div>
        </div>

        <div class="row">
          <div class="col mb-3">
            <label class="form-label" appTranslate="longonkeloApp.planoAula.tipoAula" for="field_tipoAula">Tipo Aula</label>
            <select class="form-control" name="tipoAula" formControlName="tipoAula" id="field_tipoAula" data-cy="tipoAula">
              <option [ngValue]="null">{{ 'longonkeloApp.TipoAula.null' | translate }}</option>
              <option *ngFor="let tipoAula of tipoAulaValues" [value]="tipoAula">
                {{ 'longonkeloApp.TipoAula.' + tipoAula | translate }}
              </option>
            </select>
            <div *ngIf="editForm.get('tipoAula')!.invalid && (editForm.get('tipoAula')!.dirty || editForm.get('tipoAula')!.touched)">
              <small
                class="form-text text-danger"
                *ngIf="editForm.get('tipoAula')?.errors?.required"
                appTranslate="entity.validation.required"
              >
                O campo é obrigatório.
              </small>
            </div>
          </div>

          <div class="col mb-3">
            <label class="form-label" appTranslate="longonkeloApp.planoAula.semanaLectiva" for="field_semanaLectiva">Semana Lectiva</label>
            <input
              type="number"
              class="form-control"
              name="semanaLectiva"
              id="field_semanaLectiva"
              data-cy="semanaLectiva"
              formControlName="semanaLectiva"
            />
            <div
              *ngIf="
                editForm.get('semanaLectiva')!.invalid && (editForm.get('semanaLectiva')!.dirty || editForm.get('semanaLectiva')!.touched)
              "
            >
              <small
                class="form-text text-danger"
                *ngIf="editForm.get('semanaLectiva')?.errors?.required"
                appTranslate="entity.validation.required"
              >
                O campo é obrigatório.
              </small>
              <small
                class="form-text text-danger"
                *ngIf="editForm.get('semanaLectiva')?.errors?.min"
                appTranslate="entity.validation.min"
                [translateValues]="{ min: 0 }"
              >
                Este campo deve ser maior que 0.
              </small>
              <small
                class="form-text text-danger"
                [hidden]="!editForm.get('semanaLectiva')?.errors?.number"
                appTranslate="entity.validation.number"
              >
                Este campo é do tipo número.
              </small>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6 col-sm-12 mb-3">
            <label class="form-label" appTranslate="longonkeloApp.planoAula.unidadeTematica" for="field_unidadeTematica"
              >Unidade Tematica</label
            >
            <ng-select
              id="field_unidadeTematica"
              data-cy="unidadeTematica"
              name="unidadeTematica"
              formControlName="unidadeTematica"
              [compareWith]="compareLookupItem"
            >
              <ng-option *ngIf="!editForm.get('unidadeTematica')!.value" [value]="null" selected></ng-option>
              <ng-option [value]="lookupItemOption" *ngFor="let lookupItemOption of unidadeTematicaCollection">
                {{ lookupItemOption.descricao }}
              </ng-option>
            </ng-select>
            <div
              *ngIf="
                editForm.get(['unidadeTematica'])!.invalid &&
                (editForm.get(['unidadeTematica'])!.dirty || editForm.get(['unidadeTematica'])!.touched)
              "
            >
              <small
                class="form-text text-danger"
                *ngIf="editForm.get(['unidadeTematica'])?.errors?.required"
                appTranslate="entity.validation.required"
              >
                O campo é obrigatório.
              </small>
            </div>
          </div>

          <div class="col-md-6 col-sm-12 mb-3">
            <label class="form-label" appTranslate="longonkeloApp.planoAula.subUnidadeTematica" for="field_subUnidadeTematica"
              >Sub Unidade Tematica</label
            >
            <ng-select
              id="field_subUnidadeTematica"
              data-cy="subUnidadeTematica"
              name="subUnidadeTematica"
              formControlName="subUnidadeTematica"
              [compareWith]="compareLookupItem"
            >
              <ng-option [value]="null"></ng-option>
              <ng-option [value]="lookupItemOption" *ngFor="let lookupItemOption of subUnidadeTematicaCollection">
                {{ lookupItemOption.descricao }}
              </ng-option>
            </ng-select>
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label" appTranslate="longonkeloApp.planoAula.assunto" for="field_assunto">Assunto</label>
          <input type="text" class="form-control" name="assunto" id="field_assunto" data-cy="assunto" formControlName="assunto" />
          <div *ngIf="editForm.get('assunto')!.invalid && (editForm.get('assunto')!.dirty || editForm.get('assunto')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('assunto')?.errors?.required"
              appTranslate="entity.validation.required"
            >
              O campo é obrigatório.
            </small>
          </div>
        </div>

        <legend>Perfil Entrada e Saída</legend>

        <div class="mb-3">
          <label class="form-label" appTranslate="longonkeloApp.planoAula.perfilEntrada" for="field_perfilEntrada">Perfil Entrada</label>
          <textarea
            class="form-control"
            name="perfilEntrada"
            id="field_perfilEntrada"
            data-cy="perfilEntrada"
            formControlName="perfilEntrada"
          ></textarea>
          <div
            *ngIf="
              editForm.get('perfilEntrada')!.invalid && (editForm.get('perfilEntrada')!.dirty || editForm.get('perfilEntrada')!.touched)
            "
          >
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('perfilEntrada')?.errors?.required"
              appTranslate="entity.validation.required"
            >
              O campo é obrigatório.
            </small>
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label" appTranslate="longonkeloApp.planoAula.perfilSaida" for="field_perfilSaida">Perfil Saida</label>
          <textarea
            class="form-control"
            name="perfilSaida"
            id="field_perfilSaida"
            data-cy="perfilSaida"
            formControlName="perfilSaida"
          ></textarea>
          <div *ngIf="editForm.get('perfilSaida')!.invalid && (editForm.get('perfilSaida')!.dirty || editForm.get('perfilSaida')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('perfilSaida')?.errors?.required"
              appTranslate="entity.validation.required"
            >
              O campo é obrigatório.
            </small>
          </div>
        </div>

        <legend>Objectivo geral e especifico</legend>

        <div class="mb-3">
          <label class="form-label" appTranslate="longonkeloApp.planoAula.objectivoGeral" for="field_objectivoGeral">Objectivo Geral</label>
          <textarea
            class="form-control"
            name="objectivoGeral"
            id="field_objectivoGeral"
            data-cy="objectivoGeral"
            formControlName="objectivoGeral"
          ></textarea>
          <div
            *ngIf="
              editForm.get('objectivoGeral')!.invalid && (editForm.get('objectivoGeral')!.dirty || editForm.get('objectivoGeral')!.touched)
            "
          >
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('objectivoGeral')?.errors?.required"
              appTranslate="entity.validation.required"
            >
              O campo é obrigatório.
            </small>
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label" appTranslate="longonkeloApp.planoAula.objectivosEspecificos" for="field_objectivosEspecificos"
            >Objectivos Especificos</label
          >
          <textarea
            class="form-control"
            name="objectivosEspecificos"
            id="field_objectivosEspecificos"
            data-cy="objectivosEspecificos"
            formControlName="objectivosEspecificos"
          ></textarea>
          <div
            *ngIf="
              editForm.get('objectivosEspecificos')!.invalid &&
              (editForm.get('objectivosEspecificos')!.dirty || editForm.get('objectivosEspecificos')!.touched)
            "
          >
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('objectivosEspecificos')?.errors?.required"
              appTranslate="entity.validation.required"
            >
              O campo é obrigatório.
            </small>
          </div>
        </div>

        <legend>Outras informações</legend>

        <div class="mb-3">
          <label class="form-label" appTranslate="longonkeloApp.planoAula.docente" for="field_docente">Docente</label>
          <ng-select id="field_docente" data-cy="docente" name="docente" formControlName="docente" [compareWith]="compareDocente">
            <ng-option *ngIf="editForm.get(['docente'])!.value == null" [value]="null" selected></ng-option>
            <ng-option [value]="docenteOption" *ngFor="let docenteOption of docentesSharedCollection">{{ docenteOption.nome }}</ng-option>
          </ng-select>
          <div *ngIf="editForm.get(['docente'])!.invalid && (editForm.get(['docente'])!.dirty || editForm.get(['docente'])!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get(['docente'])?.errors?.required"
              appTranslate="entity.validation.required"
            >
              O campo é obrigatório.
            </small>
          </div>
        </div>

        <div class="row">
          <div class="col mb-3">
            <label class="form-label" appTranslate="longonkeloApp.planoAula.tempoTotalLicao" for="field_tempoTotalLicao"
              >Tempo Total Licao</label
            >
            <br />
            {{ editForm.get('tempoTotalLicao')!.value }} minutos
            <!-- <input
              [readOnly]="true"
              type="number"
              class="form-control"
              name="tempoTotalLicao"
              id="field_tempoTotalLicao"
              data-cy="tempoTotalLicao"
              formControlName="tempoTotalLicao"
            /> -->
            <div
              *ngIf="
                editForm.get('tempoTotalLicao')!.invalid &&
                (editForm.get('tempoTotalLicao')!.dirty || editForm.get('tempoTotalLicao')!.touched)
              "
            >
              <small
                class="form-text text-danger"
                *ngIf="editForm.get('tempoTotalLicao')?.errors?.min"
                appTranslate="entity.validation.min"
                [translateValues]="{ min: 0 }"
              >
                Este campo deve ser maior que 0.
              </small>
              <small
                class="form-text text-danger"
                [hidden]="!editForm.get('tempoTotalLicao')?.errors?.number"
                appTranslate="entity.validation.number"
              >
                Este campo é do tipo número.
              </small>
            </div>
          </div>

          <div class="col mb-3">
            <label class="form-label" appTranslate="longonkeloApp.planoAula.estado" for="field_estado">Estado</label>
            <!-- <select [disabled]="true" class="form-control" name="estado" formControlName="estado" id="field_estado" data-cy="estado">
              <option [ngValue]="null">{{ 'longonkeloApp.EstadoLicao.null' | translate }}</option>
              <option *ngFor="let estadoLicao of estadoLicaoValues" [value]="estadoLicao">
                {{ 'longonkeloApp.EstadoLicao.' + estadoLicao | translate }}
              </option>
            </select> -->
            <br />
            {{ 'longonkeloApp.EstadoLicao.' + editForm.get('estado')!.value | translate }}
            <div *ngIf="editForm.get('estado')!.invalid && (editForm.get('estado')!.dirty || editForm.get('estado')!.touched)">
              <small
                class="form-text text-danger"
                *ngIf="editForm.get('estado')?.errors?.required"
                appTranslate="entity.validation.required"
              >
                O campo é obrigatório.
              </small>
            </div>
          </div>
        </div>

        <!-- <div class=" mb-3">
          <label class="form-label" appTranslate="longonkeloApp.planoAula.utilizador" for="field_utilizador">Utilizador</label>
          <select
            class="form-control"
            id="field_utilizador"
            data-cy="utilizador"
            name="utilizador"
            formControlName="utilizador"
            [compareWith]="compareUser"
          >
            <option [ngValue]="null"></option>
            <option [ngValue]="userOption" *ngFor="let userOption of usersSharedCollection">{{ userOption.login }}</option>
          </select>
        </div> -->
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span appTranslate="entity.action.cancel">Cancelar</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span appTranslate="entity.action.save">Guardar</span>
        </button>
      </div>
    </form>
  </div>
</div>
