<div>
  <h2 id="page-heading" data-cy="AnoLectivoHeading">
    <span appTranslate="longonkeloApp.anoLectivo.home.title">Ano Lectivos</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span appTranslate="longonkeloApp.anoLectivo.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-ano-lectivo"
        [routerLink]="['/ano-lectivo/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span appTranslate="longonkeloApp.anoLectivo.home.createLabel"> Criar novo(a) Ano Lectivo </span>
      </button>
    </div>
  </h2>

  <app-alert-error></app-alert-error>

  <app-alert></app-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="anoLectivos?.length === 0">
    <span appTranslate="longonkeloApp.anoLectivo.home.notFound">Nenhum Ano Lectivos encontrado</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="anoLectivos && anoLectivos.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr appSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" appSortBy="id">
            <div class="d-flex">
              <span appTranslate="global.field.id">Código</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" appSortBy="ano">
            <div class="d-flex">
              <span appTranslate="longonkeloApp.anoLectivo.ano">Ano</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" appSortBy="inicio">
            <div class="d-flex">
              <span appTranslate="longonkeloApp.anoLectivo.inicio">Inicio</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" appSortBy="fim">
            <div class="d-flex">
              <span appTranslate="longonkeloApp.anoLectivo.fim">Fim</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" appSortBy="descricao">
            <div class="d-flex">
              <span appTranslate="longonkeloApp.anoLectivo.descricao">Descricao</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" appSortBy="timestam">
            <div class="d-flex">
              <span appTranslate="longonkeloApp.anoLectivo.timestam">Timestam</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" appSortBy="isActual">
            <div class="d-flex">
              <span appTranslate="longonkeloApp.anoLectivo.isActual">Is Actual</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" appSortBy="directorGeral.nome">
            <div class="d-flex">
              <span appTranslate="longonkeloApp.anoLectivo.directorGeral">Director Geral</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" appSortBy="subDirectorPdagogico.nome">
            <div class="d-flex">
              <span appTranslate="longonkeloApp.anoLectivo.subDirectorPdagogico">Sub Director Pdagogico</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" appSortBy="subDirectorAdministrativo.nome">
            <div class="d-flex">
              <span appTranslate="longonkeloApp.anoLectivo.subDirectorAdministrativo">Sub Director Administrativo</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" appSortBy="responsavelSecretariaGeral.nome">
            <div class="d-flex">
              <span appTranslate="longonkeloApp.anoLectivo.responsavelSecretariaGeral">Responsavel Secretaria Geral</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" appSortBy="responsavelSecretariaPedagogico.nome">
            <div class="d-flex">
              <span appTranslate="longonkeloApp.anoLectivo.responsavelSecretariaPedagogico">Responsavel Secretaria Pedagogico</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" appSortBy="utilizador.login">
            <div class="d-flex">
              <span appTranslate="longonkeloApp.anoLectivo.utilizador">Utilizador</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" appSortBy="turma.id">
            <div class="d-flex">
              <span appTranslate="longonkeloApp.anoLectivo.turma">Turma</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" appSortBy="horario.id">
            <div class="d-flex">
              <span appTranslate="longonkeloApp.anoLectivo.horario">Horario</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" appSortBy="planoAula.id">
            <div class="d-flex">
              <span appTranslate="longonkeloApp.anoLectivo.planoAula">Plano Aula</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" appSortBy="licao.id">
            <div class="d-flex">
              <span appTranslate="longonkeloApp.anoLectivo.licao">Licao</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" appSortBy="processoSelectivoMatricula.id">
            <div class="d-flex">
              <span appTranslate="longonkeloApp.anoLectivo.processoSelectivoMatricula">Processo Selectivo Matricula</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" appSortBy="ocorrencia.id">
            <div class="d-flex">
              <span appTranslate="longonkeloApp.anoLectivo.ocorrencia">Ocorrencia</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" appSortBy="notasPeriodicaDisciplina.id">
            <div class="d-flex">
              <span appTranslate="longonkeloApp.anoLectivo.notasPeriodicaDisciplina">Notas Periodica Disciplina</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" appSortBy="notasGeralDisciplina.id">
            <div class="d-flex">
              <span appTranslate="longonkeloApp.anoLectivo.notasGeralDisciplina">Notas Geral Disciplina</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" appSortBy="dissertacaoFinalCurso.id">
            <div class="d-flex">
              <span appTranslate="longonkeloApp.anoLectivo.dissertacaoFinalCurso">Dissertacao Final Curso</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" appSortBy="factura.id">
            <div class="d-flex">
              <span appTranslate="longonkeloApp.anoLectivo.factura">Factura</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" appSortBy="recibo.id">
            <div class="d-flex">
              <span appTranslate="longonkeloApp.anoLectivo.recibo">Recibo</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" appSortBy="responsavelTurno.id">
            <div class="d-flex">
              <span appTranslate="longonkeloApp.anoLectivo.responsavelTurno">Responsavel Turno</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" appSortBy="responsavelAreaFormacao.id">
            <div class="d-flex">
              <span appTranslate="longonkeloApp.anoLectivo.responsavelAreaFormacao">Responsavel Area Formacao</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" appSortBy="responsavelCurso.id">
            <div class="d-flex">
              <span appTranslate="longonkeloApp.anoLectivo.responsavelCurso">Responsavel Curso</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" appSortBy="responsavelDisciplina.id">
            <div class="d-flex">
              <span appTranslate="longonkeloApp.anoLectivo.responsavelDisciplina">Responsavel Disciplina</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" appSortBy="responsavelTurma.id">
            <div class="d-flex">
              <span appTranslate="longonkeloApp.anoLectivo.responsavelTurma">Responsavel Turma</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let anoLectivo of anoLectivos; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/ano-lectivo', anoLectivo.id, 'view']">{{ anoLectivo.id }}</a>
          </td>
          <td>{{ anoLectivo.ano }}</td>
          <td>{{ anoLectivo.inicio | formatMediumDate }}</td>
          <td>{{ anoLectivo.fim | formatMediumDate }}</td>
          <td>{{ anoLectivo.descricao }}</td>
          <td>{{ anoLectivo.timestam | formatMediumDatetime }}</td>
          <td>{{ anoLectivo.isActual }}</td>
          <td>
            <div *ngIf="anoLectivo.directorGeral">
              <a [routerLink]="['/docente', anoLectivo.directorGeral.id, 'view']">{{ anoLectivo.directorGeral.nome }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="anoLectivo.subDirectorPdagogico">
              <a [routerLink]="['/docente', anoLectivo.subDirectorPdagogico.id, 'view']">{{ anoLectivo.subDirectorPdagogico.nome }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="anoLectivo.subDirectorAdministrativo">
              <a [routerLink]="['/docente', anoLectivo.subDirectorAdministrativo.id, 'view']">{{
                anoLectivo.subDirectorAdministrativo.nome
              }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="anoLectivo.responsavelSecretariaGeral">
              <a [routerLink]="['/docente', anoLectivo.responsavelSecretariaGeral.id, 'view']">{{
                anoLectivo.responsavelSecretariaGeral.nome
              }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="anoLectivo.responsavelSecretariaPedagogico">
              <a [routerLink]="['/docente', anoLectivo.responsavelSecretariaPedagogico.id, 'view']">{{
                anoLectivo.responsavelSecretariaPedagogico.nome
              }}</a>
            </div>
          </td>
          <td>
            {{ anoLectivo.utilizador?.login }}
          </td>
          <td>
            <div *ngIf="anoLectivo.turma">
              <a [routerLink]="['/turma', anoLectivo.turma.id, 'view']">{{ anoLectivo.turma.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="anoLectivo.horario">
              <a [routerLink]="['/horario', anoLectivo.horario.id, 'view']">{{ anoLectivo.horario.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="anoLectivo.planoAula">
              <a [routerLink]="['/plano-aula', anoLectivo.planoAula.id, 'view']">{{ anoLectivo.planoAula.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="anoLectivo.licao">
              <a [routerLink]="['/licao', anoLectivo.licao.id, 'view']">{{ anoLectivo.licao.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="anoLectivo.processoSelectivoMatricula">
              <a [routerLink]="['/processo-selectivo-matricula', anoLectivo.processoSelectivoMatricula.id, 'view']">{{
                anoLectivo.processoSelectivoMatricula.id
              }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="anoLectivo.ocorrencia">
              <a [routerLink]="['/ocorrencia', anoLectivo.ocorrencia.id, 'view']">{{ anoLectivo.ocorrencia.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="anoLectivo.notasPeriodicaDisciplina">
              <a [routerLink]="['/notas-periodica-disciplina', anoLectivo.notasPeriodicaDisciplina.id, 'view']">{{
                anoLectivo.notasPeriodicaDisciplina.id
              }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="anoLectivo.notasGeralDisciplina">
              <a [routerLink]="['/notas-geral-disciplina', anoLectivo.notasGeralDisciplina.id, 'view']">{{
                anoLectivo.notasGeralDisciplina.id
              }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="anoLectivo.dissertacaoFinalCurso">
              <a [routerLink]="['/dissertacao-final-curso', anoLectivo.dissertacaoFinalCurso.id, 'view']">{{
                anoLectivo.dissertacaoFinalCurso.id
              }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="anoLectivo.factura">
              <a [routerLink]="['/factura', anoLectivo.factura.id, 'view']">{{ anoLectivo.factura.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="anoLectivo.recibo">
              <a [routerLink]="['/recibo', anoLectivo.recibo.id, 'view']">{{ anoLectivo.recibo.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="anoLectivo.responsavelTurno">
              <a [routerLink]="['/responsavel-turno', anoLectivo.responsavelTurno.id, 'view']">{{ anoLectivo.responsavelTurno.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="anoLectivo.responsavelAreaFormacao">
              <a [routerLink]="['/responsavel-area-formacao', anoLectivo.responsavelAreaFormacao.id, 'view']">{{
                anoLectivo.responsavelAreaFormacao.id
              }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="anoLectivo.responsavelCurso">
              <a [routerLink]="['/responsavel-curso', anoLectivo.responsavelCurso.id, 'view']">{{ anoLectivo.responsavelCurso.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="anoLectivo.responsavelDisciplina">
              <a [routerLink]="['/responsavel-disciplina', anoLectivo.responsavelDisciplina.id, 'view']">{{
                anoLectivo.responsavelDisciplina.id
              }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="anoLectivo.responsavelTurma">
              <a [routerLink]="['/responsavel-turma', anoLectivo.responsavelTurma.id, 'view']">{{ anoLectivo.responsavelTurma.id }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/ano-lectivo', anoLectivo.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" appTranslate="entity.action.view">Visualizar</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/ano-lectivo', anoLectivo.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" appTranslate="entity.action.edit">Editar</span>
              </button>

              <button type="submit" (click)="delete(anoLectivo)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" appTranslate="entity.action.delete">Eliminar</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="anoLectivos && anoLectivos.length > 0">
    <div class="d-flex justify-content-center">
      <app-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></app-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [page]="page"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="navigateToPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
