<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="app-preco-emolumento-heading"
        data-cy="PrecoEmolumentoCreateUpdateHeading"
        appTranslate="longonkeloApp.precoEmolumento.home.createOrEditLabel"
      >
        Criar ou editar Preco Emolumento
      </h2>

      <div>
        <app-alert-error></app-alert-error>

        <div class="row mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" appTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" appTranslate="longonkeloApp.precoEmolumento.preco" for="field_preco">Preco</label>
          <input type="number" class="form-control" name="preco" id="field_preco" data-cy="preco" formControlName="preco" />
          <div *ngIf="editForm.get('preco')!.invalid && (editForm.get('preco')!.dirty || editForm.get('preco')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('preco')?.errors?.required" appTranslate="entity.validation.required">
              O campo é obrigatório.
            </small>
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('preco')?.errors?.min"
              appTranslate="entity.validation.min"
              [translateValues]="{ min: 0 }"
            >
              Este campo deve ser maior que 0.
            </small>
            <small class="form-text text-danger" [hidden]="!editForm.get('preco')?.errors?.number" appTranslate="entity.validation.number">
              Este campo é do tipo número.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" appTranslate="longonkeloApp.precoEmolumento.isEspecificoCurso" for="field_isEspecificoCurso"
            >Is Especifico Curso</label
          >
          <input
            type="checkbox"
            class="form-check"
            name="isEspecificoCurso"
            id="field_isEspecificoCurso"
            data-cy="isEspecificoCurso"
            formControlName="isEspecificoCurso"
          />
        </div>

        <div class="row mb-3">
          <label
            class="form-label"
            appTranslate="longonkeloApp.precoEmolumento.isEspecificoAreaFormacao"
            for="field_isEspecificoAreaFormacao"
            >Is Especifico Area Formacao</label
          >
          <input
            type="checkbox"
            class="form-check"
            name="isEspecificoAreaFormacao"
            id="field_isEspecificoAreaFormacao"
            data-cy="isEspecificoAreaFormacao"
            formControlName="isEspecificoAreaFormacao"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" appTranslate="longonkeloApp.precoEmolumento.isEspecificoClasse" for="field_isEspecificoClasse"
            >Is Especifico Classe</label
          >
          <input
            type="checkbox"
            class="form-check"
            name="isEspecificoClasse"
            id="field_isEspecificoClasse"
            data-cy="isEspecificoClasse"
            formControlName="isEspecificoClasse"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" appTranslate="longonkeloApp.precoEmolumento.isEspecificoTurno" for="field_isEspecificoTurno"
            >Is Especifico Turno</label
          >
          <input
            type="checkbox"
            class="form-check"
            name="isEspecificoTurno"
            id="field_isEspecificoTurno"
            data-cy="isEspecificoTurno"
            formControlName="isEspecificoTurno"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" appTranslate="longonkeloApp.precoEmolumento.utilizador" for="field_utilizador">Utilizador</label>
          <select
            class="form-control"
            id="field_utilizador"
            data-cy="utilizador"
            name="utilizador"
            formControlName="utilizador"
            [compareWith]="compareUser"
          >
            <option [ngValue]="null"></option>
            <option [ngValue]="userOption" *ngFor="let userOption of usersSharedCollection">{{ userOption.login }}</option>
          </select>
        </div>

        <div class="row mb-3">
          <label class="form-label" appTranslate="longonkeloApp.precoEmolumento.emolumento" for="field_emolumento">Emolumento</label>
          <select
            class="form-control"
            id="field_emolumento"
            data-cy="emolumento"
            name="emolumento"
            formControlName="emolumento"
            [compareWith]="compareEmolumento"
          >
            <option *ngIf="editForm.get(['emolumento'])!.value == null" [ngValue]="null" selected></option>
            <option [ngValue]="emolumentoOption" *ngFor="let emolumentoOption of emolumentosSharedCollection">
              {{ emolumentoOption.nome }}
            </option>
          </select>
        </div>
        <div
          *ngIf="editForm.get(['emolumento'])!.invalid && (editForm.get(['emolumento'])!.dirty || editForm.get(['emolumento'])!.touched)"
        >
          <small
            class="form-text text-danger"
            *ngIf="editForm.get(['emolumento'])?.errors?.required"
            appTranslate="entity.validation.required"
          >
            O campo é obrigatório.
          </small>
        </div>

        <div class="row mb-3">
          <label class="form-label" appTranslate="longonkeloApp.precoEmolumento.areaFormacao" for="field_areaFormacao">Area Formacao</label>
          <select
            class="form-control"
            id="field_areaFormacao"
            data-cy="areaFormacao"
            name="areaFormacao"
            formControlName="areaFormacao"
            [compareWith]="compareAreaFormacao"
          >
            <option [ngValue]="null"></option>
            <option [ngValue]="areaFormacaoOption" *ngFor="let areaFormacaoOption of areaFormacaosSharedCollection">
              {{ areaFormacaoOption.nome }}
            </option>
          </select>
        </div>

        <div class="row mb-3">
          <label class="form-label" appTranslate="longonkeloApp.precoEmolumento.curso" for="field_curso">Curso</label>
          <select class="form-control" id="field_curso" data-cy="curso" name="curso" formControlName="curso" [compareWith]="compareCurso">
            <option [ngValue]="null"></option>
            <option [ngValue]="cursoOption" *ngFor="let cursoOption of cursosSharedCollection">{{ cursoOption.nome }}</option>
          </select>
        </div>

        <div class="row mb-3">
          <label class="form-label" appTranslate="longonkeloApp.precoEmolumento.classe" for="field_classe">Classe</label>
          <select
            class="form-control"
            id="field_classe"
            data-cy="classe"
            name="classe"
            formControlName="classe"
            [compareWith]="compareClasse"
          >
            <option [ngValue]="null"></option>
            <option [ngValue]="classeOption" *ngFor="let classeOption of classesSharedCollection">{{ classeOption.descricao }}</option>
          </select>
        </div>

        <div class="row mb-3">
          <label class="form-label" appTranslate="longonkeloApp.precoEmolumento.turno" for="field_turno">Turno</label>
          <select class="form-control" id="field_turno" data-cy="turno" name="turno" formControlName="turno" [compareWith]="compareTurno">
            <option [ngValue]="null"></option>
            <option [ngValue]="turnoOption" *ngFor="let turnoOption of turnosSharedCollection">{{ turnoOption.nome }}</option>
          </select>
        </div>

        <div class="row mb-3">
          <label class="form-label" appTranslate="longonkeloApp.precoEmolumento.planoMulta" for="field_planoMulta">Plano Multa</label>
          <select
            class="form-control"
            id="field_planoMulta"
            data-cy="planoMulta"
            name="planoMulta"
            formControlName="planoMulta"
            [compareWith]="comparePlanoMulta"
          >
            <option [ngValue]="null"></option>
            <option [ngValue]="planoMultaOption" *ngFor="let planoMultaOption of planoMultasSharedCollection">
              {{ planoMultaOption.descricao }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span appTranslate="entity.action.cancel">Cancelar</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span appTranslate="entity.action.save">Guardar</span>
        </button>
      </div>
    </form>
  </div>
</div>
