<form *ngIf="campoActuacaoDissertacao" name="deleteForm" (ngSubmit)="confirmDelete(campoActuacaoDissertacao.id!)">
  <div class="modal-header">
    <h4 class="modal-title" data-cy="campoActuacaoDissertacaoDeleteDialogHeading" appTranslate="entity.delete.title">
      Confirme a eliminação
    </h4>

    <button type="button" class="btn-close" data-dismiss="modal" aria-hidden="true" (click)="cancel()">&times;</button>
  </div>

  <div class="modal-body">
    <app-alert-error></app-alert-error>
    <p
      id="app-delete-campoActuacaoDissertacao-heading"
      appTranslate="longonkeloApp.campoActuacaoDissertacao.delete.question"
      [translateValues]="{ id: campoActuacaoDissertacao.id }"
    >
      Tem a certeza que pretende eliminar o(a) Campo Actuacao Dissertacao {{ campoActuacaoDissertacao.id }}?
    </p>
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="cancel()">
      <fa-icon icon="ban"></fa-icon>&nbsp;<span appTranslate="entity.action.cancel">Cancelar</span>
    </button>

    <button id="app-confirm-delete-campoActuacaoDissertacao" data-cy="entityConfirmDeleteButton" type="submit" class="btn btn-danger">
      <fa-icon icon="times"></fa-icon>&nbsp;<span appTranslate="entity.action.delete">Eliminar</span>
    </button>
  </div>
</form>
