<div>
  <h2 id="page-heading" data-cy="EmolumentoHeading">
    <span appTranslate="longonkeloApp.emolumento.home.title">Emolumentos</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span appTranslate="longonkeloApp.emolumento.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-emolumento"
        [routerLink]="['/emolumento/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span appTranslate="longonkeloApp.emolumento.home.createLabel"> Criar novo(a) Emolumento </span>
      </button>
    </div>
  </h2>

  <app-alert-error></app-alert-error>

  <app-alert></app-alert>

  <app-filter [filters]="filters"></app-filter>

  <div class="row mb-4">
    <input class="form-control" placeholder="Nome Emolumento" #tagVal type="search" (change)="searchEmolumento(tagVal.value)" />
  </div>

  <div class="alert alert-warning" id="no-result" *ngIf="emolumentos?.length === 0">
    <span appTranslate="longonkeloApp.emolumento.home.notFound">Nenhum Emolumentos encontrado</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="emolumentos && emolumentos.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr appSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <!-- <th scope="col" appSortBy="id">
            <div class="d-flex">
              <span appTranslate="global.field.id">Código</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th> -->
          <th scope="col" appSortBy="imagem">
            <div class="d-flex">
              <span appTranslate="longonkeloApp.emolumento.imagem">Imagem</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" appSortBy="categoria.nome">
            <div class="d-flex">
              <span appTranslate="longonkeloApp.emolumento.categoria">Categoria</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <!-- <th scope="col" appSortBy="numero">
            <div class="d-flex">
              <span appTranslate="longonkeloApp.emolumento.numero">Numero</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th> -->
          <th scope="col" appSortBy="nome">
            <div class="d-flex">
              <span appTranslate="longonkeloApp.emolumento.nome">Nome</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" appSortBy="preco">
            <div class="d-flex">
              <span appTranslate="longonkeloApp.emolumento.preco">Preco</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" appSortBy="quantidade">
            <div class="d-flex">
              <span appTranslate="longonkeloApp.emolumento.quantidade">Quantidade</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" appSortBy="periodo">
            <div class="d-flex">
              <span appTranslate="longonkeloApp.emolumento.periodo">Periodo</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" appSortBy="inicioPeriodo">
            <div class="d-flex">
              <span appTranslate="longonkeloApp.emolumento.inicioPeriodo">Inicio Periodo</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" appSortBy="fimPeriodo">
            <div class="d-flex">
              <span appTranslate="longonkeloApp.emolumento.fimPeriodo">Fim Periodo</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <!-- <th scope="col" appSortBy="isObrigatorioMatricula">
            <div class="d-flex">
              <span appTranslate="longonkeloApp.emolumento.isObrigatorioMatricula">Is Obrigatorio Matricula</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" appSortBy="isObrigatorioConfirmacao">
            <div class="d-flex">
              <span appTranslate="longonkeloApp.emolumento.isObrigatorioConfirmacao">Is Obrigatorio Confirmacao</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th> -->
          <!-- <th scope="col" appSortBy="imposto.descricao">
            <div class="d-flex">
              <span appTranslate="longonkeloApp.emolumento.imposto">Imposto</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" appSortBy="referencia.nome">
            <div class="d-flex">
              <span appTranslate="longonkeloApp.emolumento.referencia">Referencia</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" appSortBy="planoMulta.descricao">
            <div class="d-flex">
              <span appTranslate="longonkeloApp.emolumento.planoMulta">Plano Multa</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th> -->
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let emolumento of emolumentos; trackBy: trackId" data-cy="entityTable">
          <!-- <td>
            <a [routerLink]="['/emolumento', emolumento.id, 'view']">{{ emolumento.id }}</a>
          </td> -->
          <td>
            <a *ngIf="emolumento.imagem" (click)="openFile(emolumento.imagem, emolumento.imagemContentType)">
              <img
                [src]="'data:' + emolumento.imagemContentType + ';base64,' + emolumento.imagem"
                style="max-height: 30px"
                alt="emolumento image"
              />
            </a>
            <!-- <span *ngIf="emolumento.imagem">{{ emolumento.imagemContentType }}, {{ byteSize(emolumento.imagem) }}</span> -->
          </td>
          <!-- <td>{{ emolumento.numero }}</td> -->
          <td>
            <div *ngIf="emolumento.categoria">
              <a [routerLink]="['/categoria-emolumento', emolumento.categoria.id, 'view']">{{ emolumento.categoria.nome }}</a>
            </div>
          </td>
          <td>{{ emolumento.nome }}</td>
          <td>{{ emolumento.preco | currency: 'AKZ' }}</td>
          <td>{{ emolumento.quantidade | number }}</td>
          <td>{{ emolumento.periodo }}</td>
          <td>{{ emolumento.inicioPeriodo }}</td>
          <td>{{ emolumento.fimPeriodo }}</td>
          <!-- <td>{{ emolumento.isObrigatorioMatricula }}</td>
          <td>{{ emolumento.isObrigatorioConfirmacao }}</td> -->
          <!-- <td>
            <div *ngIf="emolumento.imposto">
              <a [routerLink]="['/imposto', emolumento.imposto.id, 'view']">{{ emolumento.imposto.descricao }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="emolumento.referencia">
              <a [routerLink]="['/emolumento', emolumento.referencia.id, 'view']">{{ emolumento.referencia.nome }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="emolumento.planoMulta">
              <a [routerLink]="['/plano-multa', emolumento.planoMulta.id, 'view']">{{ emolumento.planoMulta.descricao }}</a>
            </div>
          </td> -->
          <td class="text-end">
            <div class="btn-group">
              <!-- <button
                type="submit"
                [routerLink]="['/item-factura']"
                [queryParams]="{ 'filter[emolumentoId.in]': emolumento.id }"
                class="btn btn-info btn-sm"
                data-cy="filterOtherEntityButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span
                  class="d-none d-md-inline"
                  appTranslate="entity.action.show"
                  [translateValues]="{ otherEntity: ('longonkeloApp.emolumento.itemFactura' | translate) }"
                  >Show Item Factura</span
                >
              </button>
              <button
                type="submit"
                [routerLink]="['/emolumento']"
                [queryParams]="{ 'filter[referenciaId.in]': emolumento.id }"
                class="btn btn-info btn-sm"
                data-cy="filterOtherEntityButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span
                  class="d-none d-md-inline"
                  appTranslate="entity.action.show"
                  [translateValues]="{ otherEntity: ('longonkeloApp.emolumento.emolumento' | translate) }"
                  >Show Emolumento</span
                >
              </button>
              <button
                type="submit"
                [routerLink]="['/preco-emolumento']"
                [queryParams]="{ 'filter[emolumentoId.in]': emolumento.id }"
                class="btn btn-info btn-sm"
                data-cy="filterOtherEntityButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span
                  class="d-none d-md-inline"
                  appTranslate="entity.action.show"
                  [translateValues]="{ otherEntity: ('longonkeloApp.emolumento.precosEmolumento' | translate) }"
                  >Show Preco Emolumento</span
                >
              </button> -->
              <button
                type="submit"
                [routerLink]="['/emolumento', emolumento.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" appTranslate="entity.action.view">Visualizar</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/emolumento', emolumento.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" appTranslate="entity.action.edit">Editar</span>
              </button>

              <button type="submit" (click)="delete(emolumento)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" appTranslate="entity.action.delete">Eliminar</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="emolumentos && emolumentos.length > 0">
    <div class="d-flex justify-content-center">
      <app-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></app-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [page]="page"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="navigateToPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
