<div>
  <h2 id="page-heading" data-cy="TurnoHeading">
    <span appTranslate="longonkeloApp.turno.home.title">Turnos</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span appTranslate="longonkeloApp.turno.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-turno"
        [routerLink]="['/turno/new']"
        *appHasAnyAuthority="['ROLE_ADMIN']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span appTranslate="longonkeloApp.turno.home.createLabel"> Criar novo(a) Turno </span>
      </button>
    </div>
  </h2>

  <app-alert-error></app-alert-error>

  <app-alert></app-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="turnos?.length === 0">
    <span appTranslate="longonkeloApp.turno.home.notFound">Nenhum Turnos encontrado</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="turnos && turnos.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr appSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <!-- <th scope="col" appSortBy="id">
            <div class="d-flex">
              <span appTranslate="global.field.id">Código</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th> -->
          <th scope="col" appSortBy="codigo">
            <div class="d-flex">
              <span appTranslate="longonkeloApp.turno.codigo">Codigo</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" appSortBy="nome">
            <div class="d-flex">
              <span appTranslate="longonkeloApp.turno.nome">Nome</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let turno of turnos; trackBy: trackId" data-cy="entityTable">
          <!-- <td>
            <a [routerLink]="['/turno', turno.id, 'view']">{{ turno.id }}</a>
          </td> -->
          <td>{{ turno.codigo }}</td>
          <td>{{ turno.nome }}</td>
          <td class="text-end">
            <div class="btn-group">
              <!-- <button
                type="submit"
                [routerLink]="['/responsavel-turno']"
                [queryParams]="{ 'filter[turnoId.in]': turno.id }"
                class="btn btn-info btn-sm"
                data-cy="filterOtherEntityButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span
                  class="d-none d-md-inline"
                  appTranslate="entity.action.show"
                  [translateValues]="{ otherEntity: ('longonkeloApp.turno.responsavelTurno' | translate) }"
                  >Show Responsavel Turno</span
                >
              </button>
              <button
                type="submit"
                [routerLink]="['/preco-emolumento']"
                [queryParams]="{ 'filter[turnoId.in]': turno.id }"
                class="btn btn-info btn-sm"
                data-cy="filterOtherEntityButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span
                  class="d-none d-md-inline"
                  appTranslate="entity.action.show"
                  [translateValues]="{ otherEntity: ('longonkeloApp.turno.precoEmolumento' | translate) }"
                  >Show Preco Emolumento</span
                >
              </button>
              <button
                type="submit"
                [routerLink]="['/periodo-horario']"
                [queryParams]="{ 'filter[turnoId.in]': turno.id }"
                class="btn btn-info btn-sm"
                data-cy="filterOtherEntityButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span
                  class="d-none d-md-inline"
                  appTranslate="entity.action.show"
                  [translateValues]="{ otherEntity: ('longonkeloApp.turno.periodoHorario' | translate) }"
                  >Show Periodo Horario</span
                >
              </button>
              <button
                type="submit"
                [routerLink]="['/turma']"
                [queryParams]="{ 'filter[turnoId.in]': turno.id }"
                class="btn btn-info btn-sm"
                data-cy="filterOtherEntityButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span
                  class="d-none d-md-inline"
                  appTranslate="entity.action.show"
                  [translateValues]="{ otherEntity: ('longonkeloApp.turno.turma' | translate) }"
                  >Show Turma</span
                >
              </button>
              <button type="submit" [routerLink]="['/turno', turno.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" appTranslate="entity.action.view">Visualizar</span>
              </button> -->

              <button
                *appHasAnyAuthority="['ROLE_ADMIN']"
                type="submit"
                [routerLink]="['/turno', turno.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" appTranslate="entity.action.edit">Editar</span>
              </button>

              <button
                *appHasAnyAuthority="['ROLE_ADMIN']"
                type="submit"
                (click)="delete(turno)"
                class="btn btn-danger btn-sm"
                data-cy="entityDeleteButton"
              >
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" appTranslate="entity.action.delete">Eliminar</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="turnos && turnos.length > 0">
    <div class="d-flex justify-content-center">
      <app-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></app-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [page]="page"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="navigateToPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
